

<!--SESSÃO 1:-->

<link rel="stylesheet" href="../../partialsCss/liftDetoxCss/liftDetox.css">
<link rel="stylesheet" href="../../partialsCss/liftDetoxCss/mobile-LiftDetox.css">



<div class="liftDetox-container" id="liftDetox-container">
    <section id="sessao-conteudo-1">
        <div class="container-sessao-1">
            <h1 class="h1-sessao-1">
                APROVEITE NOSSOS <mark>SUPER DESCONTOS</mark> NAS COMPRAS ACIMA DE 2 POTES
            </h1>
            <p class="p-sessao-1">
                Já estamos no final do ano e se você ainda não está confortável com seu corpo,
                <mark>ASSISTA O VÍDEO ABAIXO</mark> que iremos te ajudar a emagrecer.
            </p>
        </div>
    
        <div id="container-iframe-1">
            <div id="iframe-1">
                <iframe id="iframe-1" width="100%" height="100%"
                src="https://www.youtube.com/embed/i7FCU51VQDU?si=WxsYe7bJRJFTysN7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
            </div>
        </div>
    
        <div class="container-button-section-1">
                <button id="btt-compraragora-1" class="btt-section-1">
                    QUERO COMPRAR AGORA
                </button>
        </div>
    </section>
    
    
    
    <!--SESSÃO 2 - ARGUMENTOS 1:-->
    
    
    
    <section id="container-argumentos">
    
        <h1 class="h1-argumentos">
            <mark>DESCUBRA O QUE NOSSAS CÁPSULAS PODEM FAZER POR VOCÊ:</mark>
        </h1>
    
        <div id="argumentos-cards">
            <div class="cards">
                <div class="imagem">
    
                </div>
                <h2 class="h2-cards">ACELERA O METABOLISMO</h2>
                <p class="p-cards">
                    O metabolismo acelerado faz com que a pessoa queime as calorias mais rapidamente,
                    concentrando menos gorduras, de forma que fica mais difícil ganhar peso.
                </p>
            </div>
    
            <div class="cards">
                <div class="imagem">
    
                </div>
                <h2 class="h2-cards">DIMINUI O APETITE</h2>
                <p class="p-cards">
                    Os ativos presentes em seus compostos diminuem o apetite e reduzem a absorção de açúcares
                    e gorduras no organismo.
                </p>
            </div>
    
            <div class="cards">
                <div class="imagem">
    
                </div>
                <h2 class="h2-cards">REGULA O INTESTINO</h2>
                <p class="p-cards">
                    Por ser composto por diversas fibras inteligentes, seu intestino começará a trabalhar
                    de forma correta. Ajuda quem sofre com intestino preguiçoso.
                </p>
            </div>
    
            <div class="cards">
                <div class="imagem">
    
                </div>
                <h2 class="h2-cards">EFEITO BARIÁTRICA</h2>
                <p class="p-cards">
                    Por acelerar o metabolismo e queimar a gordura localizada, reduz drasticamente a
                    gordura abdominal.
                </p>
            </div>
        </div>
    
        <h1 class="h1-argumentos">
            <mark>UM PRODUTO PERFEITO PARA AUXILIAR NO SEU EMAGRECIMENTO NESSE ANO</mark>
        </h1>
    
    </section>
    
    
    
    <!--SESSÃO 3 - ARGUMENTOS 2 - PRODUTO:-->
    
    
    
    <section id="container-argumentos-2">
        <div id="container-produto">
            <div id="descrição-produto">
                <ul>
                    <li>&#x2705 Reduz a vontade de comer</li>
                    <li>&#x2705 Combate as Estrias e Celulite</li>
                    <li>&#x2705 Promove melhorias na sua saúde</li>
                    <li>&#x2705 Saudável e 100% natural</li>
                    <li>&#x2705 Queima gordura localizada</li>
                    <li>&#x2705 Acelera o metabolismo</li>
                </ul>
            </div>
            <div id="imagem-produto">
    
            </div>
        </div>
    
        <div class="container-button-section-1">
                <button id="btt-compraragora-2" class="btt-section-1">
                    QUERO COMPRAR AGORA
                </button>
        </div>
    </section>
    
    
    
    <!--SESSÃO 4 - ARGUMENTOS 2 - CARDS 2:-->
    
    
    
    <section id="container-argumentos-4">
        <div id="div-container-argumentos-4">
            <h2 id="h2-argumentos-4">Ta preparada pra ficar magra ?</h2>
            <h1 id="h1-argumentos-4">Os próximos meses será assim:</h1>
    
            <div id="argumentos-cards-2">
                <div class="cards-2">
                    <div class="imagem-2">
    
                    </div>
                    <p class="p-cards-2">
                        Não vai ter vergonha de usar um biquíni na praia.
                    </p>
                </div>
    
                <div class="cards-2">
                    <div class="imagem-2">
    
                    </div>
                    <p class="p-cards-2">
                        Seu marido vai se sentir mais atraído por você.
                    </p>
                </div>
    
                <div class="cards-2">
                    <div class="imagem-2">
    
                    </div>
                    <p class="p-cards-2">
                        Vai ser um mulher que vai sorrir mais.
                    </p>
                </div>
    
                <div class="cards-2">
                    <div class="imagem-2">
    
                    </div>
                    <p class="p-cards-2">
                        Vai conseguir usar roupas mais justas.
                    </p>
                </div>
            </div>
        </div>
    
    
    
        <!--SESSÃO 4 - RESULTADOS:-->
    
    
    
        <div id="div-resultados">
            <h1 id="h1-resultados">RESULTADOS INCRÍVEIS DO LIFT DETOX BLACK</h1>
    
            <div id="iframes-resultados">
                <iframe class="iframe-2" width="300" height="50%"
                src="https://www.youtube.com/embed/R4zLYUHW6F4?si=o2yXMu-r6V0UFGDm"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2" width="300" height="50%"
                src="https://www.youtube.com/embed/cegDSBfpl3E?si=hE5h3y66All5K1zf"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2" width="300" height="50%"
                src="https://www.youtube.com/embed/gD34joIGQ1E?si=Qcl9HFZuTNhC7xoS"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2" width="300" height="50%"
                src="https://www.youtube.com/embed/vqaE_DQkoLc?si=kXddHf6dXduEDov6"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2" width="300" height="50%"
                src="https://www.youtube.com/embed/MLzWeoEEyDA?si=3BNDxWHkFBM47VXt"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
    
            </div>
        </div>
    </section>
    
    
    
    <!--SESSÃO 5 - COMPRAS:-->
    
    
    
    <section id="container-compras-5">
        <div id="container-compras">
            <h1 class="h1-compras">VEJA COMO O <mark>LIFT DETOX BLACK</mark> É FABRICADO:</h1>
    
            <video id="video-iframe-compras" id="iframe-compras" autoplay loop muted>
                <source src="../criativos/como é fabricado.mp4">
            </video>
    
            <h2 id="h2-compras">Seu 2024 vai ser melhor com o nosso queridinho!</h2>
            <h1 class="h1-compras"><mark>FAÇA A ESCOLHA DO SEU KIT IDEAL!</mark></h1>
    
            <div id="container-cards-compras">
                <div class="cards-compras">
                    <img class="img-div-compras" src="../imagens/a1.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras">QUERO COMPRAR AGORA</button>
                    </a>
    
                </div>
    
                <div class="cards-compras">
                    <img class="img-div-compras" src="../imagens/a2.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
    
                <div class="cards-compras">
                    <img class="img-div-compras" src="../imagens/a3.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
    
                <div class="cards-compras">
                    <img class="img-div-compras" src="../imagens/a4.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!--SESSÃO 6 - FOOTER:-->
    
    
    
    <section id="container-footer-6">
        <h1 id="h1-footer">É A SUA <mark>PRIMEIRA COMPRA</mark> NA INTERNET?</h1>
        <h2 id="h2-footer">Não se preocupe, site 100% seguro, empresa confiável e entrega garantida!</h2>
    
        <div id="div-footer-1">
            <div class="div-cards-footer">
                <h1 class="h1-cards-footer"><mark>ENTREGA RÁPIDA</mark></h1>
                <h2 class="h2-cards-footer">EMBALAGEM DISCRETA</h2>
    
                <p class="p-cards-footer">
                    Seus potes serão enviados com total sigilo e segurança,
                    desde a embalagem do produto até a entrega.
                </p>
            </div>
            <div class="div-cards-footer">
                <h1 class="h1-cards-footer"><mark>COMPRA SEGURA</mark></h1>
                <h2 class="h2-cards-footer">ENTREGA GARANTIDA</h2>
    
                <p class="p-cards-footer">
                    Trabalhamos com a Monetizze, plataforma que utiliza os
                    mais avançados recursos de segurança.
                </p>
            </div>
            <div class="div-cards-footer">
                <h1 class="h1-cards-footer"><mark>PARCELE EM ATÉ</mark></h1>
                <h2 class="h2-cards-footer">12x NO CARTÃO DE CRÉDITO</h2>
    
                <p class="p-cards-footer">
                    Facilitamos para sua compra, você poderá parcelar até 12x no
                    cartão de credito de sua preferência.
                </p>
            </div>
            <div class="div-cards-footer">
                <h1 class="h1-cards-footer"><mark>FRETES GRÁTIS</mark></h1>
                <h2 class="h2-cards-footer">PARA TODO O BRASIL</h2>
    
                <p class="p-cards-footer">
                    Aproveite nossa oferta e compre com frete grátís e conte com
                    toda descrição pois seus dados pessoais estão seguros.
                </p>
            </div>
        </div>
    
        <button class="btt-compras">
            QUERO COMPRAR AGORA
        </button>
    
        <div id="div-argumentos-footer">
            <div id="argumentos-footer">
                <h1 id="h1-argumentos-footer">EMAGRECIMENTO COMPROVADO!</h1>
                <h2 id="h2-argumentos-footer">SE NÃO HOUVER RESULTADOS EM 7 DIAS VOCÊ PODE DEVOLVER!</h2>
    
                <p id="p-argumentos-footer">
                    É sério! Você fica satisfeito, ou compramos o Lift Detox Black de volta de você!
                    Se por qualquer motivo achar que o Lift Detox Black não ajudou , nós nos
                    comprometemos em devolver a quantia paga pelo seu kit de potes de Lift Detox Black
                    FÓRMULA AVANÇADA. Temos certeza que Lift Detox Black vai cumprir com o prometido,
                    por isso nosso compromisso é uma garantia incondicionais de 7 DIAS. Saiba mais em
                    Termos e condições
                </p>
    
                <h2 id="h2-argumentos-footer">Você terá até 7 dias após a compra para solicitar a devolução.</h2>
            </div>
    
            <div id="imagem-argumentos-footer">
    
            </div>
        </div>
    </section>
</div>