

<!--SESSÃO 1:-->

<link rel="stylesheet" href="../../partialsCss/liftDetoxCss/liftDetox.css">
<link rel="stylesheet" href="../../partialsCss/liftDetoxCss/mobile-LiftDetox.css">


<div class="liftDetox-container-lift" id="liftDetox-container-lift">
    <section id="sessao-conteudo-1-lift">
        <div class="container-sessao-1-lift">
            <h1 class="h1-sessao-1-lift">
                APROVEITE NOSSOS <mark>SUPER DESCONTOS</mark> NAS COMPRAS ACIMA DE 2 POTES
            </h1>
            <p class="p-sessao-1-lift">
                Já estamos no final do ano e se você ainda não está confortável com seu corpo,
                <mark>ASSISTA O VÍDEO ABAIXO</mark> que iremos te ajudar a emagrecer.
            </p>
        </div>
    
        <div id="container-iframe-1-lift">
            <div id="iframe-1-lift">
                <iframe id="iframe-1-lift" width="100%" height="100%"
                src="https://www.youtube.com/embed/i7FCU51VQDU?si=WxsYe7bJRJFTysN7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
            </div>
        </div>
    
        <div class="container-button-section-1-lift">
                <button id="btt-compraragora-1-lift" class="btt-section-1-lift">
                    QUERO COMPRAR AGORA
                </button>
        </div>
    </section>
    
    
    
    <!--SESSÃO 2 - ARGUMENTOS 1:-->
    
    
    
    <section id="container-argumentos-lift">
    
        <h1 class="h1-argumentos-lift">
            <mark>DESCUBRA O QUE NOSSAS CÁPSULAS PODEM FAZER POR VOCÊ:</mark>
        </h1>
    
        <div id="argumentos-cards-lift">
            <div class="cards-lift">
                <div class="imagem-lift">
                    <img class="img-lift" src="../../imagens/lift/metabolismo.png" alt="">
                </div>
                <h2 class="h2-cards-lift">ACELERA O METABOLISMO</h2>
                <p class="p-cards-lift">
                    O metabolismo acelerado faz com que a pessoa queime as calorias mais rapidamente,
                    concentrando menos gorduras, de forma que fica mais difícil ganhar peso.
                </p>
            </div>
    
            <div class="cards-lift">
                <div class="imagem-lift">
                    <img class="img-lift" src="../../imagens/lift/garfoFaca.png" alt="">    
                </div>
                <h2 class="h2-cards-lift">DIMINUI O APETITE</h2>
                <p class="p-cards-lift">
                    Os ativos presentes em seus compostos diminuem o apetite e reduzem a absorção de açúcares
                    e gorduras no organismo.
                </p>
            </div>
    
            <div class="cards-lift">
                <div class="imagem-lift">
                    <img class="img-lift" src="../../imagens/lift/intestino.png" alt="">    
                </div>
                <h2 class="h2-cards-lift">REGULA O INTESTINO</h2>
                <p class="p-cards-lift">
                    Por ser composto por diversas fibras inteligentes, seu intestino começará a trabalhar
                    de forma correta. Ajuda quem sofre com intestino preguiçoso.
                </p>
            </div>
    
            <div class="cards-lift">
                <div class="imagem-lift">
                    <img class="img-lift" src="../../imagens/lift/bariatrica.png" alt="">        
                </div>
                <h2 class="h2-cards-lift">EFEITO BARIÁTRICA</h2>
                <p class="p-cards-lift">
                    Por acelerar o metabolismo e queimar a gordura localizada, reduz drasticamente a
                    gordura abdominal.
                </p>
            </div>
        </div>
    
        <h1 class="h1-argumentos-lift">
            <mark>UM PRODUTO PERFEITO PARA AUXILIAR NO SEU EMAGRECIMENTO NESSE ANO</mark>
        </h1>
    
    </section>
    
    
    
    <!--SESSÃO 3 - ARGUMENTOS 2 - PRODUTO:-->
    
    
    
    <section id="container-argumentos-2-lift">
        <div id="container-produto-lift">
            <div id="descrição-produto-lift">
                <ul id="ul-lift">
                    <li id="li-lift">&#x2705 Reduz a vontade de comer</li>
                    <li id="li-lift">&#x2705 Combate as Estrias e Celulite</li>
                    <li id="li-lift">&#x2705 Promove melhorias na sua saúde</li>
                    <li id="li-lift">&#x2705 Saudável e 100% natural</li>
                    <li id="li-lift">&#x2705 Queima gordura localizada</li>
                    <li id="li-lift">&#x2705 Acelera o metabolismo</li>
                </ul>
            </div>
            <div id="imagem-produto-lift">
    
            </div>
        </div>
    
        <div class="container-button-section-1-lift">
                <button id="btt-compraragora-2-lift" class="btt-section-1-lift">
                    QUERO COMPRAR AGORA
                </button>
        </div>
    </section>
    

    
    <!--SESSÃO 4 - RESULTADOS:-->
    
    
    
        <div id="div-resultados-lift">
            <h1 id="h1-resultados-lift">RESULTADOS INCRÍVEIS DO LIFT DETOX BLACK</h1>
    
            <div id="iframes-resultados-lift">
                <iframe class="iframe-2-lift" width="300" height="50%"
                src="https://www.youtube.com/embed/R4zLYUHW6F4?si=o2yXMu-r6V0UFGDm"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2-lift" width="300" height="50%"
                src="https://www.youtube.com/embed/cegDSBfpl3E?si=hE5h3y66All5K1zf"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2-lift" width="300" height="50%"
                src="https://www.youtube.com/embed/gD34joIGQ1E?si=Qcl9HFZuTNhC7xoS"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2-lift" width="300" height="50%"
                src="https://www.youtube.com/embed/vqaE_DQkoLc?si=kXddHf6dXduEDov6"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
                <iframe class="iframe-2-lift" width="300" height="50%"
                src="https://www.youtube.com/embed/MLzWeoEEyDA?si=3BNDxWHkFBM47VXt"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    
                </iframe>
    
            </div>
        </div>
    </section>
    
    
    
    <!--SESSÃO 5 - COMPRAS:-->
    
    
    
    <section id="container-compras-5-lift">
        <div id="container-compras-lift">
            <h1 class="h1-compras-lift">VEJA COMO O <mark>LIFT DETOX BLACK</mark> É FABRICADO:</h1>
    
            <video class="video-iframe-compras-lift" autoplay loop muted>
                <source src="../criativos/lift/como é fabricado.mp4">
            </video>
    
            <h2 id="h2-compras-lift">Seu 2024 vai ser melhor com o nosso queridinho!</h2>
            <h1 class="h1-compras-lift"><mark>FAÇA A ESCOLHA DO SEU KIT IDEAL!</mark></h1>
    
            <div id="container-cards-compras-lift">
                <div class="cards-compras-lift">
                    <img class="img-div-compras-lift" src="../imagens/lift/a1.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras-lift">QUERO COMPRAR AGORA</button>
                    </a>
    
                </div>
    
                <div class="cards-compras-lift">
                    <img class="img-div-compras-lift" src="../imagens/lift/a2.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras-lift">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
    
                <div class="cards-compras-lift">
                    <img class="img-div-compras-lift" src="../imagens/lift/a3.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras-lift">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
    
                <div class="cards-compras-lift">
                    <img class="img-div-compras-lift" src="../imagens/lift/a4.jpg" alt="">
    
                    <a href="#">
                        <button class="btt-compras-lift">QUERO COMPRAR AGORA</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!--SESSÃO 6 - FOOTER:-->
    
    
    
    <section id="container-footer-6-lift">
        <h1 id="h1-footer-lift">É A SUA <mark>PRIMEIRA COMPRA</mark> NA INTERNET?</h1>
        <h2 id="h2-footer-lift">Não se preocupe, site 100% seguro, empresa confiável e entrega garantida!</h2>
    
        <div id="div-footer-1-lift">
            <div class="div-cards-footer-lift">
                <h1 class="h1-cards-footer-lift"><mark>ENTREGA RÁPIDA</mark></h1>
                <h2 class="h2-cards-footer-lift">EMBALAGEM DISCRETA</h2>
    
                <p class="p-cards-footer-lift">
                    Seus potes serão enviados com total sigilo e segurança,
                    desde a embalagem do produto até a entrega.
                </p>
            </div>
            <div class="div-cards-footer-lift">
                <h1 class="h1-cards-footer-lift"><mark>COMPRA SEGURA</mark></h1>
                <h2 class="h2-cards-footer-lift">ENTREGA GARANTIDA</h2>
    
                <p class="p-cards-footer-lift">
                    Trabalhamos com a Monetizze, plataforma que utiliza os
                    mais avançados recursos de segurança.
                </p>
            </div>
            <div class="div-cards-footer-lift">
                <h1 class="h1-cards-footer-lift"><mark>PARCELE EM ATÉ</mark></h1>
                <h2 class="h2-cards-footer-lift">12x NO CARTÃO DE CRÉDITO</h2>
    
                <p class="p-cards-footer-lift">
                    Facilitamos para sua compra, você poderá parcelar até 12x no
                    cartão de credito de sua preferência.
                </p>
            </div>
            <div class="div-cards-footer-lift">
                <h1 class="h1-cards-footer-lift"><mark>FRETES GRÁTIS</mark></h1>
                <h2 class="h2-cards-footer-lift">PARA TODO O BRASIL</h2>
    
                <p class="p-cards-footer-lift">
                    Aproveite nossa oferta e compre com frete grátís e conte com
                    toda descrição pois seus dados pessoais estão seguros.
                </p>
            </div>
        </div>
    
        <button class="btt-compras-lift">
            QUERO COMPRAR AGORA
        </button>
    
        <div id="div-argumentos-footer-lift">
            <div id="argumentos-footer-lift">
                <h1 id="h1-argumentos-footer-lift">EMAGRECIMENTO COMPROVADO!</h1>
                <h2 id="h2-argumentos-footer-lift">SE NÃO HOUVER RESULTADOS EM 7 DIAS VOCÊ PODE DEVOLVER!</h2>
    
                <p id="p-argumentos-footer-lift">
                    É sério! Você fica satisfeito, ou compramos o Lift Detox Black de volta de você!
                    Se por qualquer motivo achar que o Lift Detox Black não ajudou , nós nos
                    comprometemos em devolver a quantia paga pelo seu kit de potes de Lift Detox Black
                    FÓRMULA AVANÇADA. Temos certeza que Lift Detox Black vai cumprir com o prometido,
                    por isso nosso compromisso é uma garantia incondicionais de 7 DIAS. Saiba mais em
                    Termos e condições
                </p>
    
                <h2 id="h2-argumentos-footer-lift">Você terá até 7 dias após a compra para solicitar a devolução.</h2>
            </div>
    
            <div id="imagem-argumentos-footer-lift">
    
            </div>
        </div>
    </section>


    <%- include('/voltarProduto.ejs') %>
</div>

