
<link rel="stylesheet" href="../../partialsCss/secandoCss/secando.css">
<link rel="stylesheet" href="../../partialsCss/secandoCss/mobile-secando.css">


<div id="container-secando" class="container-secando">

    <section id="container-arg-1-secando">
        <div id="div-container-arg-1-secando">
            <h2 id="h2-arg-1-secando"><mark>Ta preparada pra ficar magra ?</mark></h2>
            <h1 id="h1-arg-1-secando"><mark>Os próximos meses será assim:</mark></h1>
    
            <div id="container-arg-cards-1-secando">
                <div class="cards-secando">
                    <div class="imagem-cards-secando">
                        <img class="img-cards-arg-1-secando" src="../../imagens/secando/biquini.png" alt="">
                    </div>
                    <p class="p-cards-secando">
                        Não vai ter vergonha de usar um biquíni na praia.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-cards-secando">
                        <img class="img-cards-arg-1-secando" src="../../imagens/secando/olho.png" alt="">    
                    </div>
                    <p class="p-cards-secando">
                        Seu marido vai se sentir mais atraído por você.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-cards-secando">
                        <img class="img-cards-arg-1-secando" src="../../imagens/secando/sorriso.png" alt="">    
                    </div>
                    <p class="p-cards-secando">
                        Vai ser um mulher que vai sorrir mais.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-cards-secando">
                        <img class="img-cards-arg-1-secando" src="../../imagens/secando/roupas.png" alt="">    
                    </div>
                    <p class="p-cards-secando">
                        Vai conseguir usar roupas mais justas.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!--ARGUMENTOS 2-->


    <section id="container-arg-2-secando">
        <div id="div-container-arg-2-secando">
            <h1 class="h1-container-arg-secando"><mark>SECANDO EM CASA &#x1F525</mark></h1>
            <p class="p-container-arg-secando">
                Este programa é um método <mark>PODEROSO de emagrecimento</mark> para quem precisa 
                urgentemente <mark>atingir o peso ideal</mark>, seja por saúde ou estética, 
                reconquistar a autoestima e <mark>nunca mais engordar novamente</mark>!
                Sem ter que passar fome ou fazer exercícios mais árduos do que 
                caminhar até a geladeira! O programa consiste em <mark>"Reeducação alimentar"</mark> 
                utilizando alimentos simples que você <mark>já tem em casa</mark>!
            </p>
        </div>

        <div class="container-arg-cards-2-secando">
            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/suco-detox.jpg" alt="">
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>SUCO DETOX</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Desinchar e desintoxicar! Os estudos confirmam que além de reduzir 
                    o colesterol o Detox também elimina gordura pelas fezes e urina.
                </p>
            </div>

            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/comida.jpg" alt="">    
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>RECEITAS FIT</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Cardápios simples e práticos para a semana toda. 
                    Lembrando que não é uma dieta e sim uma reeducação. 
                    A nossa intenção é que você coma saudável e perca muito peso.                
                </p>
            </div>

            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/cha-2.jpg" alt="">        
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>CHÁ SECA TUDO</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Receita secreta de um dos chás mais procurados no Brasil quando o assunto é perca de peso.
                    (Suga toda gordura localizada em poucos dias)
                </p>
            </div>

            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/shake.jpg" alt="">
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>SHAKE EMAGRECEDOR</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Bebida com bastante nutrientes para substituição de refeições como 
                    café da manhã, aumenta sua imunidade e sacia sua fome.
                </p>
            </div>

            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/mulher-treino-2.jpg" alt="">    
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>EXERCÍCIOS FUNCIONAIS</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Uma série de exercícios em vídeos super fáceis de fazer, 
                    focados na queima de gordura para acelerar ainda mais seus resultados!
                </p>
            </div>

            <div class="cards-arg-2-secando">
                <div class="imagem-cards-arg-2-secando">
                    <img class="img-cards-arg-2-secando" src="../../imagens/salada.jpg" alt="">
                </div>

                <h1 class="h1-cards-arg-2-secando"><mark>SALADAS SAUDÁVEIS</mark></h1>
                <p class="p-cards-arg-2-secando">
                    Diversos Mix de saladas!
                    Salada para controlar a GLICEMIA
                    Salada para PRESSÃO ALTA
                    Salada ANTI-INFLAMATÓRIA
                    Salada REJUVENESCEDORA
                    Salada ENERGÉTICA
                    Salada para o CORAÇÃO
                    E MUITO MAIS...
                </p>
            </div>
        </div>
    </section>


    <!--ARGUMENTOS 3-->


    <section id="container-arg-3-secando">
        <div id="div-container-arg-3-secando">
            <h1 class="h1-container-arg-secando"><mark>PARA QUEM O PROGRAMA É INDICADO?</mark></h1>
            <p class="p-container-arg-secando">
                Este programa é exclusivo para quem está <mark>cansada e frustrada de 
                tentar emagrecere toda vez não da certo</mark>, 
                e quando da certo engorda tudo de novo...
                Mesmo se você já tenha tentado várias coisas como: <mark>
                academia, remédio tarja preta, dietas malucas ou qualquer outra coisa.</mark>
            </p>

            <div class="container-depoimentos-secando">
                <div class="cards-depoimentos-secando">
                    <video class="video-secando" controls>
                        <source src="../criativos/secando/criativo1.mp4">
                    </video>        
                </div>
                <div class="cards-depoimentos-secando">
                    <video class="video-secando" controls>
                        <source src="../criativos/secando/criativo2.mp4">
                    </video>                        
                </div>
                <div class="cards-depoimentos-secando">
                    <video class="video-secando" controls>
                        <source src="../criativos/secando/criativo3.mp4">
                    </video>        
                </div>
            </div>

            <p class="p-container-arg-secando">
                Assim como as <mark>pessoas desses depoimentos</mark>, você também pode <mark>
                finalmente conquistar o corpo e a saúde que sempre quis de forma sustentável e
                saudável</mark>. Chega de frustração e decepção! Agora é sua vez de 
                <mark>transformar sua vida</mark> com nosso programa de emagrecimento eficaz e personalizado."            
            </p>
        </div>
    </section>


    <!--ARGUMENTOS 4-->


    <section id="container-arg-4-secando">
        <div id="div-container-arg-4-secando">
            <h1 class="h1-container-arg-secando"><mark>+ DEPOIMENTOS SOBRE O PROGRAMA &#x1F525</mark></h1>

            <div class="container-arg-cards-4-secando">
                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos1.jpg" alt="">
                </div>

                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos2.jpg" alt="">
                </div>

                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos3.jpg" alt="">
                </div>

                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos4.jpg" alt="">
                </div>

                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos5.jpg" alt="">
                </div>                

                <div class="cards-arg-4-secando">
                    <img class="img-arg-5-secando" src="../../imagens/secando/depoimentos6.png" alt="">
                </div>                                
            </div>
        </div>
    </section>


    <!--ARGUMENTOS 5-->


    <section id="container-arg-5-secando">
        <div id="div-container-arg-5-secando">
            <h1 class="h1-container-arg-5-secando">ADQUIRA AGORA O PROGRAMA COMPLETO PELO PREÇO SIMBÓLICO!</h1>

            <div id="container-img-arg-5-secando">
                <img class="img-garantia-secando" src="../../imagens/selo-garantia.webp" alt="">
                <p class="p-container-arg-5-secando">GARANTIA TOTAL SATISFAÇÃO GARANTIDA OU 100% DO SEU DINHEIRO DE VOLTA!</p>
            </div>

            <h1 class="h1-container-arg-5-secando">POR R$97,00 À VISTA <br> OU 10x de R$ 11,31 NO CARTÃO</h1>

            <a target="_blank" href="https://pay.kiwify.com.br/9ZCRm1Z?afid=Vj4c7Cbg">
                <button class="btt-arg-5-secando">
                    COMPRAR AGORA
                </button>
            </a>

            <div id="container2-img-arg-5-secando">
                <img class="img-arg-5-secando" src="../../imagens/formas-pagamento.webp" alt="">
            </div>

        </div>
    </section>
</div>