
<link rel="stylesheet" href="../../partialsCss/secandoCss/secando.css">

<div id="container-secando">

    <section id="container-arg-1">
        <div id="div-container-arg-1">
            <h2 id="h2-arg-1">Ta preparada pra ficar magra ?</h2>
            <h1 id="h1-arg-1">Os próximos meses será assim:</h1>
    
            <div id="container-arg-cards-1">
                <div class="cards-secando">
                    <div class="imagem-1">
    
                    </div>
                    <p class="p-cards-secando">
                        Não vai ter vergonha de usar um biquíni na praia.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-1">
    
                    </div>
                    <p class="p-cards-secando">
                        Seu marido vai se sentir mais atraído por você.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-1">
    
                    </div>
                    <p class="p-cards-secando">
                        Vai ser um mulher que vai sorrir mais.
                    </p>
                </div>
    
                <div class="cards-secando">
                    <div class="imagem-1">
    
                    </div>
                    <p class="p-cards-secando">
                        Vai conseguir usar roupas mais justas.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!--ARGUMENTOS 2-->


    <section id="container-arg-2">
        <div id="div-container-arg-2">

        </div>

        <div id="container-arg-cards-2">
            <div class="cards-arg-2">

            </div>
            <div class="cards-arg-2">
                
            </div>
            <div class="cards-arg-2">
                
            </div>
            <div class="cards-arg-2">
                
            </div>
            <div class="cards-arg-2">
                
            </div>
            <div class="cards-arg-2">
                
            </div>

        </div>
    </section>

</div>