
<link rel="stylesheet" href="../../partialsCss/treinoCss/treino.css">

<div id="container-treino">
    <h1 class="h1-treino">
        <mark>PLANILHAS PARA UM ANO DE TREINO. AJUSTADOS DE ACORDO COM O SEU BIOTIPO</mark>
    </h1>


    <section id="section-container-treino">
        <h3 class="h3-treino">
            <mark>treinos personalizados</mark> como phat (power hypertrophy adaptive training),
            upper/lower push/pull, fullbody, metabólico e muito mais...
            Treinos focados em cada grupamento muscular é o fim das dúvidas sobre
            volume e alteração de treino.
            Nós temos um método validado por diversos clientes. Vamos te ensinar a
            não depender das fichinhas de academia.
        </h3>
    </section>


    <div id="image-treino">
        <h1 class="h1-image-treino">
            CHEGA DE TREINO QUE NÃO FUNCIONA
        </h1>    
    </div>


    <section id="section-indicacao-container">
        <div id="indicacao-container">
            <h1 class="h1-treino"><mark>INDICADO PARA:</mark></h1>

            <div class="cards-treino">
                <div class="img-cards-treino">

                </div>

                <div class="arguments-cards-treino">
                    <h3 class="h3-treino-cards">ALUNO INICIANTE</h3>
                    <p class="p-cards-treino">
                        Se você não sabe qual treino seguir e qual aparelho é melhor. 
                        Agora você tem a solução.
                    </p>
                </div>
            </div>

            <div class="cards-treino">
                <div class="img-cards-treino">

                </div>

                <div class="arguments-cards-treino">
                    <h3 class="h3-treino-cards">PERSONAL TRAINER</h3>
                    <p class="p-cards-treino">
                        Personal você precisa ter uma variedade de treino 
                        para seus alunos e pode mandar para seus alunos a 
                        execução correta de cada máquina , pois temos os 
                        vídeos de cada execução.                    
                    </p>
                </div>
            </div>

            <div class="cards-treino">
                <div class="img-cards-treino">

                </div>

                <div class="arguments-cards-treino">
                    <h3 class="h3-treino-cards">ALUNO AVANÇADO</h3>
                    <p class="p-cards-treino">
                        Se você quer aumentar seus resultados e sair desse plator 
                        essa é a solução.
                    </p>
                </div>
            </div>

        </div>
    </section>

</div>
