
<link rel="stylesheet" href="../../partialsCss/treinoCss/treino.css">
<link rel="stylesheet" href="../../partialsCss/treinoCss/mobile-treino.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    


<div id="container-treino">
    <h1 class="h1-treino">
        <mark>PLANILHAS PARA UM ANO DE TREINO <br> AJUSTADOS DE ACORDO COM O SEU BIOTIPO</mark>
    </h1>


    <!--SECTION TREINO 1-->


    <section id="section-container-treino">
        <img src="../../imagens/treino/planilhas.png" alt="">

        <p class="p-container-treino">
            <mark>treinos personalizados</mark> como phat (power hypertrophy adaptive training),
            upper/lower push/pull, fullbody, metabólico e muito mais...
            Treinos focados em cada grupamento muscular é o fim das dúvidas sobre
            volume e alteração de treino.
            Nós temos um método validado por diversos clientes. Vamos te ensinar a
            não depender das fichinhas de academia.
        </p>

    </section>

    <!--IMAGEM TREINO-->

    <div id="image-treino">
        <div id="container-image-treino">
            <h1 class="h1-image-treino">
                CHEGA DE TREINO QUE NÃO FUNCIONA
            </h1>
            <img src="../../imagens/treino/alteres.png" alt="">

        </div>
    </div>


    <!--SECTION TREINO 2-->


    <section id="section-indicacao-container-treino">
        <div id="indicacao-container-treino">
            <div id="indicacao-container-color-treino">
                <h1 class="h1-treino"><mark>PARA QUEM AS PLANILHAS SÃO INDICADAS</mark></h1>

                <div class="cards-treino">
                    <div class="img-cards-treino-container">
                        <img class="img-cards-treino" src="../../imagens/treino/cards-indicacao-1.webp" alt="">
                    </div>

                    <div class="arguments-cards-treino">
                        <h3 class="h3-treino-cards">ALUNO INICIANTE</h3>
                        <p class="p-cards-treino">
                            Se você não sabe qual treino seguir e qual aparelho é melhor. 
                            Agora você tem a solução.
                        </p>
                    </div>
                </div>

                <div class="cards-treino">
                    <div class="img-cards-treino-container">
                        <img class="img-cards-treino" src="../../imagens/treino/cards-indicacao-2.webp" alt="">
                    </div>

                    <div class="arguments-cards-treino">
                        <h3 class="h3-treino-cards">PERSONAL TRAINER</h3>
                        <p class="p-cards-treino">
                            Personal você precisa ter uma variedade de treino 
                            para seus alunos e pode mandar para seus alunos a 
                            execução correta de cada máquina , pois temos os 
                            vídeos de cada execução.                    
                        </p>
                    </div>
                </div>

                <div class="cards-treino">
                    <div class="img-cards-treino-container">
                        <img class="img-cards-treino" src="../../imagens/treino/cards-indicacao-3.webp" alt="">
                    </div>

                    <div class="arguments-cards-treino">
                        <h3 class="h3-treino-cards">ALUNO AVANÇADO</h3>
                        <p class="p-cards-treino">
                            Se você quer aumentar seus resultados e sair desse plator 
                            essa é a solução.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <button id="treino-button">
            QUERO COMPRAR AGORA
        </button>
    </section>


    <!--SECTION TREINO 4-->


    <section id="section-treino-4">
        <div id="div-4-color-treino">
            <div class="div-4-container-treino">
                <h1 id="h1-section-4-treino">
                    você vai ter acesso a tudo isso com <br> <mark>85% de desconto</mark>
                </h1>
                <ul id="ul-treino">
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        + DE 30 PLANILHAS PERSONALIZADAS TREINO COMPLETO
                    </li>
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        250 RECEITAS METABOLICAS
                    </li>
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        DESAFIO 24 DIAS
                    </li>
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        TREINO FUNCIONAL
                    </li>
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        TREINO EM VÍDEO DE CADA EXERCÍCIO
                    </li>
                    <li id="li-treino">
                        <i class="material-icons">check_circle</i> 
                        + 3 BÔNUS EXCLUSIVO E UM PRESENTE SUPRESA
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!--SECTION 3 GARANTIA-->


    <section id="section-treino-garantia">
        <h1 class="h1-treino"><mark>EXPERIMENTE</mark> POR 7 DIAS</h1>

        <p class="p-container-treino">
            Não se preocupe, se o conteúdo descrito aqui não for o 
            mesmo que você receber, você tem 7 dias de garantia e 
            nós devolvemos seu dinheiro sem burocracia!
        </p>
        <p class="p-container-treino">
            Lembrando que seu acesso é vitalício
        </p>
        <img class="img-treino-garantia" src="../../imagens/treino/selo-garantia-treino.webp" alt="">
    </section>
</div>
