
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<section id="section-container-voltar">
    <h1>Veja + de nossos produtos</h1>

    <div id="container-produtos">
        <div class="produtos-container">
            <img src="../../public/imagens/Lift-Caps.png" alt="">
            <div class="produtos">
                <p>lift</p>
            </div>
        </div>
        <div class="produtos-container">
            <img src="../../public/imagens/secandoEmCasa.jpg" alt="">
            <div class="produtos">
                <p>secando</p>
            </div>
        </div>
        <div class="produtos-container">
            <img src="../../public/imagens/mulher-treino.jpg" alt="">
            <div class="produtos">
                <p>treino</p>
            </div>
        </div>
    </div>
</section>