

<link rel="stylesheet" href="/partialsCss/voltarProdutoCss/voltarProduto.css">
<link rel="stylesheet" href="/partialsCss/voltarProdutoCss/mobile-voltarProd.css">
<link rel="stylesheet" href="/partialsCss/voltarProdutoCss/tablet-voltarProd.css">

<section id="section-container-voltar">
    <h1 id="h1-produtos-voltar">VEJA + DOS NOSSOS PRODUTOS</h1>

    <div id="container-produtos">
        <div class="produtos-container">
            <img class="img-produtos" src="../../imagens/Lift-Caps.png" alt="">
            <div class="produtos">
                <img class="img-seta-home" src="../imagens/seta-cima.png" alt="">
                <button class="button-produtos-voltar" id="btt-lift-voltar">Lift Detox</button>
            </div>
        </div>
    

        <div class="produtos-container">
            <img class="img-produtos" src="../../imagens/secandoEmCasa.jpg" alt="">
            <div class="produtos">
                <img class="img-seta-home" src="../imagens/seta-cima.png" alt="">
                <button class="button-produtos-voltar" id="btt-secando-voltar">Secando em Casa</button>
            </div>
        </div>
        
        
        <div class="produtos-container">
            <img class="img-produtos" src="../../imagens/mulher-treino.jpg" alt="">
            <div class="produtos">
                <img class="img-seta-home" src="../imagens/seta-cima.png" alt="">
                <button class="button-produtos-voltar" id="btt-treino-voltar">Treino</button>
            </div>
        </div>
    </div>
</section>