@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: #ff5e5e;
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
}

@media screen and (max-width: 767px){


.container-secando{

/*SESSÃO 1*/


section#container-arg-1-secando{
    height: 230vh;
    width: 100%;
}

div#div-container-arg-1-secando{
    height: 100%;
}

h2#h2-arg-1-secando{
    font-size: 45px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

h1#h1-arg-1-secando{
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

div#container-arg-cards-1-secando{
    justify-content: center;
    flex-direction: column;
    height: 180vh;
}

div.cards-secando{
    height: 60%;
    width: 90%;
    transition: none;
    margin-bottom: 30px;
}
div.cards-secando:hover{
    transform: none;
}

p.p-cards-secando{
    font-size: 25px;
}


/*ARGUMENTOS 2*/

.h1-container-arg-secando{
    margin-bottom: 70px;
}

.p-container-arg-secando{
    font-size: 25px;
    text-shadow: none;
    margin-top: 0px;
    font-weight: bold;
}
    
.container-arg-cards-2-secando{
    flex-direction: column;
}

.cards-arg-2-secando{
    height: 60vh;
    width: 80%;
    transition: none;
}
.cards-arg-2-secando:hover{
    transform: none;
}

div.imagem-cards-arg-2-secando{
    height: 120px;
    width: 120px;
}

.p-cards-arg-2-secando{
    font-weight: bold;
}


/*ARGUMENTOS 3*/


.container-depoimentos-secando{
    flex-direction: column;
    height: 140vh;
    margin: 50px 0px 30px 0px;
}

.cards-depoimentos-secando{
    height: 35vh;
    width: 80%;
    transition: none;
}
.cards-depoimentos-secando:hover{
    transform: none;
}

.video-secando{
    transition: none;
}
.video-secando{
    transition: none;
}


/*ARGUMENTOS 4*/


.container-arg-cards-4-secando{
    flex-direction: column;
    width: 90%;
}

.cards-arg-4-secando{
    height: 80vh;
    width: 80%;
    transition: none;
}
.cards-arg-4-secando:hover{
    transform: none;
}


/*ARGUMENTOS 5*/


.h1-container-arg-5-secando{
    font-size: 35px;
}

#container-img-arg-5-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.img-garantia-secando{
    height: 50%;
    width: 50%;
}


#container2-img-arg-5-secando{
    width: 80%;  
}


/*FOOTER*/


section#container-footer-6-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 30px 0px;
    background-color: var(--cor01);
}

#h1-footer-secando{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#h2-footer-secando{
    font-size: 30px;
    text-align: center;
}

#div-footer-1-secando{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
}

.div-cards-footer-secando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 90vw;
    padding: 10px;
    border-top: 3px solid black;
}
.div-cards-footer-secando:hover{
    transform: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.h1-cards-footer-secando{
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.h2-cards-footer-secando{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.p-cards-footer-secando{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#div-argumentos-footer-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 90%;
    margin-top: 40px;
}

#argumentos-footer-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

#h1-argumentos-footer-secando{
    font-size: 42px;
    margin: 0px 0px 20px 0px;
    color: #193722;
    text-align: center;
}

#h2-argumentos-footer-secando{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #193722;
}

#p-argumentos-footer-secando{
    font-size: 19px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}


}



}