@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: #ff5e5e;
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
}

@media screen and (max-width: 767px){


.container-secando{

/*SESSÃO 1*/


section#container-arg-1-secando{
    height: 230vh;
    width: 100%;
}

div#div-container-arg-1-secando{
    height: 100%;
}

h2#h2-arg-1-secando{
    font-size: 45px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

h1#h1-arg-1-secando{
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

div#container-arg-cards-1-secando{
    justify-content: center;
    flex-direction: column;
    height: 180vh;
}

div.cards-secando{
    height: 60%;
    width: 90%;
    transition: none;
    margin-bottom: 30px;
}
div.cards-secando:hover{
    transform: none;
}

p.p-cards-secando{
    font-size: 25px;
}


/*ARGUMENTOS 2*/


#container-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0px 80px 0px;
    background-color: var(--cor01);
}

#div-container-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    width: 95%;
    background-color: #410039;
    border-radius: 20px 20px 0px 0px;
}

.h1-container-arg-secando{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p-container-arg-secando{
    width: 90%;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 0px;
    text-shadow: none;
}
    
.container-arg-cards-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    padding: 20px 0px 20px 0px;
    background-color: var(--cor09);
    border-radius: 0px 0px 20px 20px;
}

.cards-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 80%;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-arg-2-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

div.imagem-cards-arg-2-secando{
    height: 120px;
    width: 120px;
    background-color: red;
    border-radius: 100px;         
}

.img-cards-arg-2-secando{
    height: 100%;
    width: 100%;    
    background-size: auto;
    background-position: center;
    border-radius: 100px;    
}

.h1-cards-arg-2-secando{
    font-size: 30px;
    text-align: center;
    margin: 15px 0px 2px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p-cards-arg-2-secando{
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 10px 0px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



}



}