@charset "UTF-8";


:root{
    --cor01: #FCF9ED;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#container-secando{
    height: 30vh;
}

.secando{
    display: block;
}


/*SESSÃO 4 - ARGUMENTOS 2 - CARDS 2*/


section#container-arg-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../imagens/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#div-container-arg-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 53, 88, 0.823);
}

h1#h1-arg-1{
    color: white;
    font-size: 50px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2#h2-arg-1{
    color: white;
    font-size: 35px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#container-arg-cards-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 40vh;
    width: 90%;
    border-radius: 30px;
    margin-top: 50px;
    padding: 5px;
}

div.cards-secando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120%;
    width: 20vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

div.imagem-cards-secando{
    height: 140px;
    width: 140px;
    background-color: red;
    border-radius: 100px; 

    & .img-cards-arg-1{
        height: 100%;
        width: 100%;    
        background-size: cover;
        background-position: center;
        border-radius: 100px; 
    }
}

p.p-cards-secando{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
}


/*ARGUMENTOS 2*/


#container-arg-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: var(--cor01);

    & #div-container-arg-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vh;
        width: 95%;
        background-color: var(--cor07);

        & #p-container-arg-2{
            width: 90%;
            text-align: center;
            font-size: 30px;
            color: white;
            margin-bottom: 0px;
        }
    }

    & #container-arg-cards-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        padding: 20px 0px 20px 0px;
        background-color: var(--cor07);
    }

    .cards-arg-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70vh;
        width: 20vw;
        padding: 0px 10px 10px 10px;
        border-radius: 20px;
        margin: 30px;
        background-color: rgba(255, 255, 255, 0.13);
        transition: transform 0.3s ease;
        cursor: pointer;

        & div.imagem-cards-arg-2{
            height: 150px;
            width: 150px;
            background-color: red;
            border-radius: 100px;         

            & .img-cards-arg-2{
                height: 100%;
                width: 100%;    
                background-size: auto;
                background-position: center;
                border-radius: 100px;    
            }
        }

        & .h1-cards-arg-2{
            font-size: 30px;
            text-align: center;
            margin: 15px 0px 2px 0px;
        }

        & .p-cards-arg-2{
            font-size: 20px;
            text-align: center;
            color: white;
            margin: 10px 0px 0px 0px;
        }
    }
    .cards-arg-2:hover{
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.161);
    }

}