@charset "UTF-8";


:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: #ff5e5e;
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
}

#container-secando mark{
    background-color: #f19cc9;
    color: white;
}

.container-secando{


/*SESSÃO 1*/


section#container-arg-1-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../imagens/amor.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#div-container-arg-1-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background-color: rgba(58, 40, 56, 0.479);
}

h1#h1-arg-1-secando{
    color: white;
    font-size: 50px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2#h2-arg-1-secando{
    color: white;
    font-size: 35px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#container-arg-cards-1-secando{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 40vh;
    width: 90%;
    border-radius: 30px;
    margin-top: 50px;
    padding: 5px;
}

div.cards-secando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20vw;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

div.imagem-cards-secando{
    height: 120px;
    width: 120px;
    background-color: red;
    border-radius: 100px; 
}

.img-cards-arg-1-secando{
    height: 100%;
    width: 100%;    
    background-size: cover;
    background-position: center;
    border-radius: 100px; 
}


p.p-cards-secando{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*ARGUMENTOS 2*/


#container-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0px 80px 0px;
    background-color: var(--cor01);
}

#div-container-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    width: 95%;
    background-color: #410039;
    border-radius: 20px 20px 0px 0px;
}

.h1-container-arg-secando{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.p-container-arg-secando{
    width: 90%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
    
.container-arg-cards-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding: 20px 0px 20px 0px;
    background-color: var(--cor09);
    border-radius: 0px 0px 20px 20px;
}

.cards-arg-2-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 25vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-arg-2-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

div.imagem-cards-arg-2-secando{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 100px;         
}

.img-cards-arg-2-secando{
    height: 100%;
    width: 100%;    
    background-size: auto;
    background-position: center;
    border-radius: 100px;    
}

.h1-cards-arg-2-secando{
    font-size: 30px;
    text-align: center;
    margin: 15px 0px 2px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p-cards-arg-2-secando{
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 10px 0px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*ARGUMENTOS 3*/


section#container-arg-3-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../imagens/amor.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-container-arg-3-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;    
    width: 100%;
    background-color: rgba(58, 40, 56, 0.479);
}

.container-depoimentos-secando{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin: 80px 0px 50px 0px;
}

.cards-depoimentos-secando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-depoimentos-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

.video-secando{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 3px solid white;
    margin: 0px;
    transition: transform 0.3s ease;
}
.video-secando{
    transition: transform 0.3s ease;

}


/*ARGUMENTOS 4*/


#container-arg-4-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor09);
}

#div-container-arg-4-secando{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;    
    width: 100%;
    background-color: var(--cor01);
}

.container-arg-cards-4-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px 0px 20px 0px;   
    border-radius: 20px;
    background-color: var(--cor09);
}

.cards-arg-4-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 20vw;
    margin: 30px;
    border: 3px solid black;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-arg-4-secando:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.161);
}

/*ARGUMENTOS 5*/


section#container-arg-5-secando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor01);
}

#div-container-arg-5-secando{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;    
    width: 100%;
}

.h1-container-arg-5-secando{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#container-img-arg-5-secando{
    padding: 20px 0px 0px 0px;
    width: 20%;
}

.img-arg-5-secando{
    height: 100%;
    width: 100%;
    background-size: auto;
    background-position: center;
}

.p-container-arg-5-secando{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btt-arg-5-secando{
    height: 65px;
    width: 300px;
    font-size: 21px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgb(255, 94, 94);
    margin: 50px 0px 50px 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btt-arg-5-secando:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}

#container2-img-arg-5-secando{
    height: 15vh;
    width: 30%;  
}
}