@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
    --cor12: #f19cc9;
}

@media screen and (min-width: 768px) and (max-width: 1250px){


.container-secando{


/*SESSÃO 1*/


div.cards-secando{
    transition: none;
    margin: 0px 5px 0px 5px;
    padding: 20px;
}
div.cards-secando:hover{
    transform: none;
}

div.imagem-cards-secando{
     height: 100px;
     width: 100px;
 }


/*ARGUMENTOS 2*/

 
 .cards-arg-2-secando{
     width: 30vw;
     transition: none;
     padding: 30px 20px 20px 20px;
 }
 .cards-arg-2-secando:hover{
     transform: none;
     background-color: rgba(255, 255, 255, 0.13);
 }

 div.imagem-cards-arg-2-secando{
     height: 120px;
     width: 120px;
     background-color: red;
     border-radius: 100px;         
 }
  

 
/*ARGUMENTOS 3*/


.cards-depoimentos-secando{
    width: 28vw;
    background-color: rgba(255, 255, 255, 0.13);
    transition: none;
}
.cards-depoimentos-secando:hover{
    transform: none;
    background-color: rgba(255, 255, 255, 0);
}


/*ARGUMENTOS 4*/


.cards-arg-4-secando{
    height: 65vh;
    width: 30vw;
    transition: none;
}
.cards-arg-4-secando:hover{
    transform: none;
    background-color: rgba(255, 255, 255, 0);
}


/*ARGUMENTOS 5*/


.h1-container-arg-5-secando{
    width: 70%;
}

#container-img-arg-5-secando{
    width: 25%;
}

.p-container-arg-5-secando{
    font-size: 25px;
}

.btt-arg-5-secando{
    transition: none;
}
.btt-arg-5-secando:hover{
    transform: none;
}

#container2-img-arg-5-secando{
    width: 40%;  
}



}

}