<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../homePage/homepage.css">
    <link rel="stylesheet" href="../homePage/mobileStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
<body>

<div id="container-pai">

    <div id="imagem-header-container">
        <div id="imagem-header">
            <header>
                <h1 id="titulo">
                    FitFitness
                </h1>
            </header>
            <!--CONTEÚDO 1:-->
            <div id="conteudo-container-1">
                <div class="conteudo-1">
                    <h1 class="h1-conteudos">Sua jornada para um <mark>corpo saudável</mark> começa aqui!</h1>
                </div>
            </div>
            <div id="container-button-1">
                <button id="btt-conteudo-1">
                    INICIAR
                </button>
            </div>
            <!--CONTEUDO 2:-->
            <div id="conteudo-container-2">
                <div class="conteudo-2">
                    <p class="p-conteudo-2">
                        Nossos produtos é mais do que uma simples solução para emagrecer.
                        <mark>Ele é um aliado na sua jornada para uma vida melhor</mark>.
                        Desfrute de benefícios como maior energia, melhor saúde cardiovascular,
                        e uma autoestima renovada.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--SESSÃO PRODUTOS 1-->


    <section class="sessao-imagens">
        <div id="img-1">

        </div>
        <div id="img-2">

        </div>
        <div id="img-3">

        </div>
    </section>


    <!--SESSÃO MISSÃO 2-->


    <section class="section-mission">
        <div class="container-mission">
            <div class="mission-text">
                <div class="text">
                    <h1 class="h1-mission">
                        <mark>NOSSA MISSÃO</mark>
                    </h1>
                    <p class="p-mission">
                        É te <mark>ajudar a emagrecer</mark> de forma saudável e
                        sustentável, respeitando seu ritmo e suas necessidades.
                        Queremos que você se sinta bem em cada passo da sua jornada,
                        <mark>aumentando sua autoestima e bem-estar.</mark> Estamos aqui para
                        oferecer apoio, motivação e as ferramentas certas para
                        transformar seus hábitos e <mark>alcançar seus objetivos</mark> com
                        confiança e determinação.
                    </p>
                </div>
            </div>
            <div class="mission-video">
                <video class="video-section-mission" autoplay loop muted>
                    <source src="../videos/mulher-exercicio.mp4">
                </video>
            </div>
        </div>

        <div class="container-mission">
            <div class="mission-text-2">
                <div class="text-2">
                    <h1 class="h1-mission">
                        <mark>Quer mudar de vida e começar sua jornada de emagrecimento?</mark>
                    </h1>
                    <p class="p-mission">
                        Pode ser a hora de dar uma olhada nesses 
                        <mark>produtos pensados para facilitar o processo!</mark> 
                        Imagine uma ajudinha extra para 
                        <mark>controlar o apetite, queimar gordura e ainda ganhar mais disposição.</mark> 
                        Quando você encontra o suporte certo, o caminho para alcançar 
                        seus objetivos fica bem mais leve.
                        <mark>Acredite:</mark> <ins>você merece se sentir bem consigo mesmo(a) e ver resultados. 
                        Dar uma chance a esses produtos pode ser o primeiro passo que faltava. 
                        Então, por que não dar uma olhada e ver como podem ajudar você a chegar lá?</ins>
                    </p>    
                </div>
            </div>
        </div>
    
    </section>


    <!--PRODUTOS ABAIXO 3-->


    <section class="sessao-prodAbaixo">
        <p class="p-prodAbaixo">
            <mark>
                Passe o mouse <i class="material-icons">mouse</i> <br> por cima dos produtos e veja sua descrição
            </mark>
        </p>

        <img id="img-seta" src="../imagens/seta.png" alt="">
    </section>


    <!--SESSÃO APRESENTAÇÃO PRODUTOS 4-->


    <section id="product-presentation">
        <div id="container-lift">
            <div id="img-lift">

            </div>
            <div id="desc-lift">
                <ul>
                    <h1 id="h1-desc-lift">
                        UM PRODUTO PERFEITO PARA VOCÊ
                    </h1>

                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Reduz a vontade de comer
                    </li>
                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Combate as Estrias e Celulite
                    </li>
                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Promove melhorias na sua saúde
                    </li>
                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Saudável e 100% natural
                    </li>
                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Queima gordura localizada
                    </li>
                    <li class="li-lift">
                        <i class="material-icons">check_circle</i> 
                        Acelera o metabolismo
                    </li>
                </ul>

                <button class="button-products" id="button-lift">Veja mais</button>
            </div>
        </div>


        <div id="container-secandoCasa">
            <div id="img-secandoCasa">

            </div>
            <div id="desc-secandoCasa">
                <div class="container-desc">
                    <h1 id="h1-secandoCasa">Programa Secando em casa </h1>
                    <h2 id="h2-secandoCasa">
                        <mark>Como este programa pode transformar seu corpo e sua vida</mark>
                    </h2>
                    <p id="p-secandoCasa">
                        Este programa foi cuidadosamente desenvolvido para 
                        ajudar você a alcançar seu peso ideal e mantê-lo,
                        tudo isso enquanto retoma sua autoconfiança e melhora sua qualidade de vida.
                        Ele é perfeito para quem quer resultados duradouros sem passar
                        por dietas radicais ou treinos exaustivos!
                    </p>
                </div>
                <button class="button-products" id="button-secando">Veja mais</button>
            </div>
        </div>


        <div id="container-treino-product">
            <div id="img-treino">

            </div>
            <div id="desc-treino">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Debitis molestias sapiente cum error? Vel voluptatibus 
                    temporibus laboriosam, ratione molestias explicabo accusantium 
                    cupiditate iste repudiandae, praesentium aut? Asperiores 
                    voluptate ipsa earum.
                </p>
                <button class="button-products" id="button-treino">Veja mais</button>
            </div>
        </div>
    </section>


    <!--SESSÃO ARGUMENTOS 5-->


    <section id="sessao-argumentos-5">
        <h1 class="h1-arg-5">Do que se trata a FitFitness®</h1>
        <p class="p-arg-5">
            Nossos programas de perda de peso fazem com que os ganhos de saúde 
            aconteçam – e chegar lá é diferente para cada pessoa.
        </p>

        <div id="container-cards-arg5">
            <div class="cards-arg-5">
                <div class="imagem-cards-arg-2">
                    <img class="img-cards-arg-2" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2"><mark>Simple nutrition</mark></h1>
                <p class="p-cards-arg-2">
                    Life is complicated—healthy eating shouldn’t be. With WW, 
                    all you need to focus on is following a flexible plan.
                </p>
            </div>

            <div class="cards-arg-5">
            <div class="imagem-cards-arg-2">
                    <img class="img-cards-arg-2" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2"><mark>Your food “relationship”</mark></h1>
                <p class="p-cards-arg-2">
                    Quick fixes tell you what—or what not—to eat. Our science digs 
                    deeper, helping you understand your eating patterns so you 
                    change them for good.
                </p>    
            </div>

            <div class="cards-arg-5">
            <div class="imagem-cards-arg-2">
                    <img class="img-cards-arg-2" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2"><mark>Facts over fads</mark></h1>
                <p class="p-cards-arg-2">
                    Conflicting weight-loss tips are everywhere. Cut through the 
                    confusion with WW, where weight-loss programs are built by 
                    science and based on the latest behavioral research.
                </p>    
            </div>

            <div class="cards-arg-5">
            <div class="imagem-cards-arg-2">
                    <img class="img-cards-arg-2" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2"><mark>Medical weight loss</mark></h1>
                <p class="p-cards-arg-2">
                    For some, biological factors impact the ability to lose weight. 
                    The new WeightWatchers Clinic provides access to doctors 
                    and registered dietitians who care.
                </p>    
            </div>
        </div>

        <button class="button-products">Join now</button>

    </section>
</div>

<!--PARTIALS-->

<div id="carregaLift-Partial"></div>
<div id="carregaSecando-Partial"></div>
<div id="carregaTreino-Partial"></div>




<script src="../scripts/homepage.js"></script>

</body>
</html>