<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../homePage/homepage.css">
    <link rel="stylesheet" href="../homePage/mobileStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
<body>

<div id="container-pai-lift" class="container-pai-home">

    <div id="imagem-header-container-home">
        <div id="imagem-header-home">
            <header id="header-home">
                <h1 id="titulo-home">
                    FitFitness
                </h1>
            </header>
            <!--CONTEÚDO 1:-->
            <div id="conteudo-container-1-home">
                <div class="conteudo-1-home">
                    <h1 class="h1-conteudos-home">Sua jornada para um <mark>corpo saudável</mark> começa aqui!</h1>
                </div>
            </div>
            <div id="container-button-1-home">
                <button id="btt-conteudo-1-home">
                    INICIAR
                </button>
            </div>
            <!--CONTEUDO 2:-->
            <div id="conteudo-container-2-home">
                <div class="conteudo-2-home">
                    <p class="p-conteudo-2-home">
                        Nossos produtos é mais do que uma simples solução para emagrecer.
                        <mark>Ele é um aliado na sua jornada para uma vida melhor</mark>.
                        Desfrute de benefícios como maior energia, melhor saúde cardiovascular,
                        e uma autoestima renovada.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--SESSÃO PRODUTOS 1-->


    <section class="sessao-imagens-home">
        <div id="img-1-home">

        </div>
        <div id="img-2-home">

        </div>
        <div id="img-3-home">

        </div>
    </section>


    <!--SESSÃO MISSÃO 2-->


    <section class="section-mission-home">
        <div class="container-mission-home">
            <div class="mission-text-home">
                <div class="text-home">
                    <h1 class="h1-mission-home">
                        <mark>NOSSA MISSÃO</mark>
                    </h1>
                    <p class="p-mission-home">
                        É te <mark>ajudar a emagrecer</mark> de forma saudável e
                        sustentável, respeitando seu ritmo e suas necessidades.
                        Queremos que você se sinta bem em cada passo da sua jornada,
                        <mark>aumentando sua autoestima e bem-estar.</mark> Estamos aqui para
                        oferecer apoio, motivação e as ferramentas certas para
                        transformar seus hábitos e <mark>alcançar seus objetivos</mark> com
                        confiança e determinação.
                    </p>
                </div>
            </div>
            <div class="mission-video-home">
                <video class="video-section-mission-home" autoplay loop muted>
                    <source src="../videos/mulher-exercicio.mp4">
                </video>
            </div>
        </div>

        <div class="container-mission-home">
            <div class="mission-text-2-home">
                <div class="text-2-home">
                    <h1 class="h1-mission-home">
                        <mark>Quer mudar de vida e começar sua jornada de emagrecimento?</mark>
                    </h1>
                    <p class="p-mission-home">
                        Pode ser a hora de dar uma olhada nesses 
                        <mark>produtos pensados para facilitar o processo!</mark> 
                        Imagine uma ajudinha extra para 
                        <mark>controlar o apetite, queimar gordura e ainda ganhar mais disposição.</mark> 
                        Quando você encontra o suporte certo, o caminho para alcançar 
                        seus objetivos fica bem mais leve.
                        <mark>Acredite:</mark> <ins>você merece se sentir bem consigo mesmo(a) e ver resultados. 
                        Dar uma chance a esses produtos pode ser o primeiro passo que faltava. 
                        Então, por que não dar uma olhada e ver como podem ajudar você a chegar lá?</ins>
                    </p>    
                </div>
            </div>
        </div>
    
    </section>


    <!--PRODUTOS ABAIXO 3-->


    <section class="sessao-prodAbaixo-home" id="sessao-prodAbaixo-home">
        <p class="p-prodAbaixo-home">
            <mark>
                Passe o mouse <i class="material-icons-home">mouse</i> <br> por cima dos produtos e veja sua descrição
            </mark>
        </p>

        <img id="img-seta-home" src="../imagens/seta.png" alt="">
    </section>


    <!--SESSÃO APRESENTAÇÃO PRODUTOS 4-->


    <section id="product-presentation-home">
        <div id="container-lift-home">
            <div id="img-lift-home">

            </div>
            <div id="desc-lift-home">
                <ul class="ul-home">
                    <h1 id="h1-desc-lift-home">
                        <mark id="mark-lift">UM PRODUTO PERFEITO PARA VOCÊ</mark>&#x1F49A
                    </h1>

                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Reduz a vontade de comer
                    </li>
                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Combate as Estrias e Celulite
                    </li>
                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Promove melhorias na sua saúde
                    </li>
                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Saudável e 100% natural
                    </li>
                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Queima gordura localizada
                    </li>
                    <li class="li-lift-home">
                        <i class="material-icons">check_circle</i> 
                        Acelera o metabolismo
                    </li>
                </ul>

                <button class="button-products-home" id="button-lift-home">Veja mais</button>
            </div>
        </div>


        <div id="container-secandoCasa-home">
            <div id="img-secandoCasa-home">

            </div>
            <div id="desc-secandoCasa-home">
                <div class="container-desc-home">
                    <h1 id="h1-secandoCasa-home">
                        <mark class="mark-secando">Programa Secando em casa</mark> &#x1F525
                    </h1>
                    <h2 id="h2-secandoCasa-home">
                        <ins>Como este programa pode transformar seu corpo e sua vida</ins>
                    </h2>
                    <p id="p-secandoCasa-home">
                        Este programa foi cuidadosamente desenvolvido para 
                        ajudar você a alcançar seu peso ideal e mantê-lo,
                        tudo isso enquanto retoma sua autoconfiança e melhora sua qualidade de vida.
                        Ele é perfeito para quem quer resultados duradouros sem passar
                        por dietas radicais ou treinos exaustivos!
                    </p>
                </div>
                <button class="button-products-home" id="button-secando-home">Veja mais</button>
            </div>
        </div>


        <div id="container-treino-product-home">
            <div id="img-treino-home">

            </div>
            <div id="desc-treino-home">
                <h1 id="h1-desc-treino-home">
                    <mark id="mark-treino">PLANILHAS ESPECIAIS PARA SEU TREINO</mark> &#x1F4C8 &#x1F4CC
                </h1>

                <ul class="ul-treino-home">
                    <li class="li-treino-home">
                        <i class="material-icons">check_circle</i> 
                        Se você está cansado de perder horas buscando maneiras 
                        de treinar ou pagando caro por um personal, existe uma 
                        solução prática.
                    </li>
                    <li class="li-treino-home">
                        <i class="material-icons">check_circle</i> 
                        Com as Planilhas de Treino, o Plano Alimentar e 
                        todos os Bônus Extras, você faz uma escolha inteligente e acessível.
                    </li>
                    <li class="li-treino-home">
                        <i class="material-icons">check_circle</i> 
                        Esses materiais usam a mesma metodologia que personais aplicam 
                        para acelerar os resultados de forma eficaz e garantida.
                    </li>
                </ul>

                <button class="button-products-home" id="button-treino-home">Veja mais</button>
            </div>
        </div>
    </section>


    <!--SESSÃO ARGUMENTOS 5-->


    <section id="sessao-argumentos-5-home">
        <h1 class="h1-arg-5-home">Do que se trata a FitFitness®</h1>
        <p class="p-arg-5-home">
            Nossos <mark>programas de perda de peso</mark> 
            fazem com que os <mark>ganhos de saúde aconteçam</mark> – 
            e chegar lá é diferente para cada pessoa.
        </p>

        <div id="container-cards-arg5-home">
            <div class="cards-arg-5-home">
                <div class="imagem-cards-arg-2-home">
                    <img class="img-cards-arg-2-home" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2-home"><mark>Nutrição simples</mark></h1>
                <p class="p-cards-arg-2-home">
                    A vida é complicada – uma alimentação saudável não deveria ser. 
                    Com nossa ajuda, tudo que você precisa se concentrar é seguir 
                    um plano flexível.
                </p>
            </div>

            <div class="cards-arg-5-home">
            <div class="imagem-cards-arg-2-home">
                    <img class="img-cards-arg-2-home" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2-home">
                    <mark>Sua “relação” com a comida</mark>
                </h1>
                <p class="p-cards-arg-2-home">
                    Nossa ciência se aprofunda, ajuda você a compreender seus 
                    padrões alimentares para que você os mude para sempre.
                    Aqui, lhe oferecemos uma solução real!
                </p>    
            </div>

            <div class="cards-arg-5-home">
            <div class="imagem-cards-arg-2-home">
                    <img class="img-cards-arg-2-home" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2-home">
                    <mark>Fatos x Mitos</mark>
                </h1>
                <p class="p-cards-arg-2-home">
                    Dicas falsas para perder peso estão por toda parte. 
                    Aqui é onde eliminamos esta confusão! pois nossos 
                    programas de perda de peso são construídos pela 
                    ciência e baseados nas mais recentes pesquisas comportamentais.
                </p>    
            </div>

            <div class="cards-arg-5-home">
            <div class="imagem-cards-arg-2-home">
                    <img class="img-cards-arg-2-home" src="" alt="">
                </div>

                <h1 class="h1-cards-arg-2-home"><mark>Medical weight loss</mark></h1>
                <p class="p-cards-arg-2-home">
                    For some, biological factors impact the ability to lose weight. 
                    The new WeightWatchers Clinic provides access to doctors 
                    and registered dietitians who care.
                </p>    
            </div>
        </div>

        <img id="img-seta-home" src="../imagens/seta-cima.png" alt="">

        <button class="button-arg5-home" id="products-btt-view">Veja nossos Produtos</button>

    </section>
</div>

<!--PARTIALS-->

<div id="carregaLift-Partial"></div>
<div id="carregaSecando-Partial"></div>
<div id="carregaTreino-Partial"></div>




<script src="../scripts/homepage.js"></script>

</body>
</html>