<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../homePage/homepage.css">
    <link rel="stylesheet" href="../homePage/mobileStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container-pai">
        
        <div id="imagem-header-container">
            <div id="imagem-header">
                <header>
                    <div id="titles-header-1">
                        <h1 class="h1-titles-header" id="sobre">SOBRE</h1>
                        <h1 class="h1-titles-header" id="beneficios">BENEFÍCIOS</h1>
                    </div>
                    <h1 id="titulo">
                        FitFitness
                    </h1>
                    <div id="titles-header-2">
                        <h1 class="h1-titles-header" id="resultados">RESULTADOS</h1>
                        <h1 class="h1-titles-header" id="entrega">ENTREGA</h1>
                    </div>
                </header>
                <!--CONTEÚDO 1:-->
                <div id="conteudo-container-1">
                    <div class="conteudo-1">
                        <h1 class="h1-conteudos">Sua jornada para um <mark>corpo saudável</mark> começa aqui!</h1>
                    </div>
                </div>
                <div id="container-button-1">
                    <button id="btt-conteudo-1">
                        INICIAR
                    </button>
                </div>
                <!--CONTEUDO 2:-->
                <div id="conteudo-container-2">
                    <div class="conteudo-2">
                        <p class="p-conteudo-2">
                            Nossos produtos é mais do que uma simples solução para emagrecer.
                            <mark>Ele é um aliado na sua jornada para uma vida melhor</mark>.
                            Desfrute de benefícios como maior energia, melhor saúde cardiovascular,
                            e uma autoestima renovada.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--SESSÃO PRODUTOS-->


        <section id="sessao-produtos">
            <div id="lift-detox">

            </div>
            <div id="chá">

            </div>
            <div id="produto-digital">

            </div>
        </section>


        <!--SESSÃO MISSÃO-->


        <section id="section-mission">
            <div id="mission-text">
                <div id="text">
                    <h1 class="h1-mission">
                        <mark>NOSSA MISSÃO</mark>
                    </h1>
                    <p class="p-mission">
                        É te <mark>ajudar a emagrecer</mark> de forma saudável e 
                        sustentável, respeitando seu ritmo e suas necessidades. 
                        Queremos que você se sinta bem em cada passo da sua jornada, 
                        <mark>aumentando sua autoestima e bem-estar.</mark> Estamos aqui para 
                        oferecer apoio, motivação e as ferramentas certas para 
                        transformar seus hábitos e <mark>alcançar seus objetivos</mark> com 
                        confiança e determinação.
                    </p>
                </div>
            </div>
            <div id="mission-image">
                <video id="video-section-mission" autoplay loop muted>
                    <source src="../videos/mulher-exercicio.mp4">
                </video>
            </div>
        </section>


        <!--SESSÃO APRESENTAÇÃO PRODUTOS-->


        <section id="product-presentation">
            <div id="container-lift">
                <div id="img-lift">

                </div>
                <div id="desc-lift">
                    <ul>
                        <h1 id="h1-desc-lift">
                            UM PRODUTO PERFEITO PARA AUXILIAR NO SEU EMAGRECIMENTO NESSE ANO
                        </h1>

                        <li>Reduz a vontade de comer</li>
                        <li>Combate as Estrias e Celulite</li>
                        <li>Promove melhorias na sua saúde</li>
                        <li>Saudável e 100% natural</li>
                        <li>Queima gordura localizada</li>
                        <li>Acelera o metabolismo</li>
                    </ul>

                    <button class="button-products" id="button-lift">Veja mais</button>
                </div>
            </div>


            <div id="container-secandoCasa">
                <div id="img-secandoCasa">

                </div>
                <div id="desc-secandoCasa">
                    <div class="container-desc">
                        <h1 id="h1-secandoCasa">Programa Secando em casa &#x1F525</h1>
                        <h2 id="h2-secandoCasa">
                            <mark>Como este programa pode transformar seu corpo e sua vida</mark>
                        </h2>
                        <p id="p-secandoCasa">
                            Este programa foi cuidadosamente desenvolvido para 
                            ajudar você a alcançar seu peso ideal e mantê-lo,
                            tudo isso enquanto retoma sua autoconfiança e melhora sua qualidade de vida.
                            Ele é perfeito para quem quer resultados duradouros sem passar
                            por dietas radicais ou treinos exaustivos!
                        </p>
                    </div>
                    <button class="button-products">Veja mais</button>
                </div>
            </div>


            <div id="container-produtoDigital">
                <div id="img-produtoDigital">

                </div>
                <div id="desc-produtoDigital">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Debitis molestias sapiente cum error? Vel voluptatibus 
                        temporibus laboriosam, ratione molestias explicabo accusantium 
                        cupiditate iste repudiandae, praesentium aut? Asperiores 
                        voluptate ipsa earum.
                    </p>
                </div>
            </div>
        </section>


        <!--SESSÃO ESCOLHA DE PRODUTOS-->


        <section id="product-choice">
            <button id="btt-liftdetox">
                Lift-Detox
            </button>
            <button>
                Chá
            </button>
            <button>
                Treino
            </button>
        </section>


        <!--PARTIALS-->


        <%- include('partials/liftDetox.ejs') %>
        <%- include('partials/secando.ejs') %>

    </div>



<script>

    //FUNÇÕES DE AÇÕES HEADER
    let sobreBtt = document.getElementById('sobre')
    let beneficiosBtt = document.getElementById('beneficios')
    let resultadosBtt = document.getElementById('resultados')
    let entregaBtt = document.getElementById('entrega')
    let iniciarBtt = document.getElementById('btt-conteudo-1')
    let comprarAgora1Btt = document.getElementById('btt-compraragora-1')
    let comprarAgora2Btt = document.getElementById('btt-compraragora-2')


    function scrollButton(btt, content){
        btt.addEventListener('click', () =>{
            if(btt){
                content.scrollIntoView({
                    behavior: "smooth"
                })
            }
        })
    }

    let sobreConteudo = document.getElementById('container-argumentos')
    scrollButton(sobreBtt, sobreConteudo)

    let beneficiosConteudo = document.getElementById('container-produto')
    scrollButton(beneficiosBtt, beneficiosConteudo)

    let resultadosConteudo = document.getElementById('div-resultados')
    scrollButton(resultadosBtt, resultadosConteudo)

    let entregaConteudo = document.getElementById('container-footer-6')
    scrollButton(entregaBtt, entregaConteudo)

    let iniciarConteudo = document.getElementById('sessao-conteudo-1')
    scrollButton(iniciarBtt, iniciarConteudo)

    var cardsCompras = document.getElementById('container-cards-compras')
    scrollButton(comprarAgora1Btt,cardsCompras)
    scrollButton(comprarAgora2Btt, cardsCompras)


    

    //CARREGANDO LIFT-DETOX:
    var bttLift = document.getElementById('button-lift');
    bttLift.addEventListener('click', () => {
        var liftContainer = document.getElementById('liftDetox-container');

        liftContainer.style.display = 'block';

        requestAnimationFrame(() =>{
            liftContainer.classList.add('liftdetox');
                iniciarConteudo.scrollIntoView({
                    behavior: "smooth"
                })
        })
    })
    


    //ANIMAÇÃO NOS PRODUTOS
    function mouseEnter(img, transformed){
        img.addEventListener('mouseenter', () => {
            img.classList.add(transformed);
        });
    }

    function mouseLeave(img, classe){
        img.addEventListener('mouseleave', () =>{
            setTimeout(() =>{
                img.classList.remove(classe)
            }, 5000)
        })
    }


    var imgLift = document.getElementById('img-lift');
    mouseEnter(imgLift, 'transformed-lift');
    //mouseLeave(imgLift, 'transformed-lift');

    var imgSecandoCasa = document.getElementById('img-secandoCasa');
    mouseEnter(imgSecandoCasa, 'transformed-secandoCasa')
    //mouseLeave(imgSecandoCasa, 'transformed-secandoCasa')


    var imgProdutoDigital = document.getElementById('img-produtoDigital');
    mouseEnter(imgProdutoDigital, 'transformed-produtoDigital')
    //mouseLeave(imgProdutoDigital, 'transformed-produtoDigital')

</script>


</body>
</html>