<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../homePage/homepage.css">
    <link rel="stylesheet" href="../homePage/mobileStyle.css">
</head>
<body>
    <div id="container-pai">
        
        <div id="imagem-header-container">
            <div id="imagem-header">
                <header>
                    <div id="titles-header-1">
                        <h1 class="h1-titles-header" id="sobre">SOBRE</h1>
                        <h1 class="h1-titles-header" id="beneficios">BENEFÍCIOS</h1>
                    </div>
                    <h1 id="titulo">
                        FitFitness
                    </h1>
                    <div id="titles-header-2">
                        <h1 class="h1-titles-header" id="resultados">RESULTADOS</h1>
                        <h1 class="h1-titles-header" id="entrega">ENTREGA</h1>
                    </div>
                </header>
                <!--CONTEÚDO 1:-->
                <div id="conteudo-container-1">
                    <div class="conteudo-1">
                        <h1 class="h1-conteudos">Sua jornada para um <mark>corpo saudável</mark> começa aqui!</h1>
                    </div>
                </div>
                <div id="container-button-1">
                    <button id="btt-conteudo-1">
                        INICIAR
                    </button>
                </div>
                <!--CONTEUDO 2:-->
                <div id="conteudo-container-2">
                    <div class="conteudo-2">
                        <p class="p-conteudo-2">
                            Nossos produtos é mais do que uma simples solução para emagrecer.
                            <mark>Ele é um aliado na sua jornada para uma vida melhor</mark>.
                            Desfrute de benefícios como maior energia, melhor saúde cardiovascular,
                            e uma autoestima renovada.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--SESSÃO PRODUTOS-->


        <section id="sessao-produtos">
            <div id="chá">

            </div>
            <div id="produto-digital">

            </div>
            <div id="lift-detox">

            </div>
        </section>


        <!--SESSÃO MISSÃO-->


        <section id="section-mission">
            <div id="mission-text">
                <div id="text">
                    <h1 class="h1-mission">
                        <mark>NOSSA MISSÃO</mark>
                    </h1>
                    <p class="p-mission">
                        É te <mark>ajudar a emagrecer</mark> de forma saudável e 
                        sustentável, respeitando seu ritmo e suas necessidades. 
                        Queremos que você se sinta bem em cada passo da sua jornada, 
                        <mark>aumentando sua autoestima e bem-estar.</mark> Estamos aqui para 
                        oferecer apoio, motivação e as ferramentas certas para 
                        transformar seus hábitos e <mark>alcançar seus objetivos</mark> com 
                        confiança e determinação.
                    </p>
                </div>
            </div>
            <div id="mission-image">
                <video id="video-section-mission" autoplay loop muted>
                    <source src="../videos/mulher-exercicio.mp4">
                </video>
            </div>
        </section>


        <!--SESSÃO APRESENTAÇÃO PRODUTOS-->


        <section id="apresentacao-produtos">

        </section>



        <%- include('partials/liftDetox.ejs') %>

    </div>

    <script src="../js/homepage.js"></script>
</body>
</html>