<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../loginCss/login.css">
    <link rel="stylesheet" href="../loginCss/login-mobile.css">
    <link rel="stylesheet" href="../loginCss/login-tablet.css">
</head>
<body>
    <div id="container-pai-login">
        <header id="header-login">
            <h1 id="h1-title-login">LOGIN ADMINISTRADOR</h1>
        </header>

        <div id="container-filho-login">
            <div id="container-login-1">
                
            </div>

            <form id="form-login" method="post" action="/login">
                <label class="label-login" for="nome">Nome:</label>
                <input class="input-login" autocomplete="off" type="text" name="nome" id="inome" required>
                <label class="label-login" for="senha">Senha:</label>
                <input class="input-login" type="password" name="senha" id="isenha" required>
                <button id="btt-login">Login</button>
            </form>
        </div>
    </div>
</body>


<script>
        document.addEventListener('DOMContentLoaded', () =>{
            const urlParams = new URLSearchParams(window.location.search);
            const sucessMsg = urlParams.get('error');

            if(sucessMsg){
                window.alert(sucessMsg)
            }
        })

</script>
</html>