<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login de adm</h1>

    <form method="post" action="/login">
        <label for="nome">Insira seu nome:</label>
        <input type="text" name="nome" id="inome" required>

        <label for="senha">Insira sua senha:</label>
        <input type="password" name="senha" id="isenha" required>

        <button>Login</button>
    </form>
</body>


<script>
        document.addEventListener('DOMContentLoaded', () =>{
            const urlParams = new URLSearchParams(window.location.search);
            const sucessMsg = urlParams.get('error');

            if(sucessMsg){
                window.alert(sucessMsg)
            }
        })

</script>
</html>