<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de adm</h1>

    <form method="post" action="/cadastro">
        <label for="nome">Insira seu nome:</label>
        <input type="text" name="nome" id="inome">

        <label for="senha">Insira sua senha:</label>
        <input type="text" name="senha" id="isenha">

        <button>Registrar-se</button>
    </form>
</body>
</html>