@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}

@media screen and (max-width: 767px){
    
#container-treino{


#section-container-treino{

    & img{
        height: 30vh;
        width: 30vw;    
    }
}

.h1-treino{
    font-size: 35px;
}

#section-container-treino{
    width: 90%;

}

.p-container-treino{
    font-size: 25px;
}


/*IMAGE TREINO*/


#image-treino{
    height: 90vh;
}

#container-image-treino{

    & img{
        height: 30vh;
        width: 30vw;    
    }
}

.h1-image-treino{
    font-size: 60px;
}


/*SECTION TREINO 2*/


#indicacao-container-treino{
    width: 100%;
    border-radius: 0px;
    border: 0px;
}

.cards-treino{
    flex-direction: column;
    width: 80%;
    transition: none;
}
.cards-treino:hover{
    transform: none;
}

.img-cards-treino-container{
    height: 40vh;
    width: 100%;

    & .img-cards-treino{
        border-radius: 20px 20px 0px 0px;
    }
}

.arguments-cards-treino{
    height: 45vh;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.h3-treino-cards{
    font-size: 35px;
}

.p-cards-treino{
    font-size: 22px;
}

#treino-button{
    width: 70vw;
    transition: none;
    margin: 50px 0px 50px 0px;
}
#treino-button:hover{
    transform: none;
}


/*SECTION 4*/


#section-treino-4{
    height: 100vh;
}

.div-4-container-treino{
    width: 100%;
}

#ul-treino{
    width: 80%;
}

#li-treino{
    font-size: 25px;
}


/*SECTION GARANTIA*/


#section-treino-garantia{
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-color: black;

    & .img-treino-garantia{
        height: 28vh;
        width: 60vw;
    }
}
 

/*FOOTER*/


section#container-footer-6-treino{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 30px 0px;
    background-color: var(--cor01);
}

#h1-footer-treino{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#h2-footer-treino{
    font-size: 30px;
    text-align: center;
}

#div-footer-1-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
}

.div-cards-footer-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 90vw;
    padding: 10px;
    border-top: 3px solid black;
}
.div-cards-footer-treino:hover{
    transform: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.h1-cards-footer-treino{
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.h2-cards-footer-treino{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.p-cards-footer-treino{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#div-argumentos-footer-treino{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 90%;
    margin-top: 40px;
}

#argumentos-footer-treino{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

#h1-argumentos-footer-treino{
    font-size: 42px;
    margin: 0px 0px 20px 0px;
    color: #193722;
    text-align: center;
}

#h2-argumentos-footer-treino{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #193722;
}

#p-argumentos-footer-treino{
    font-size: 19px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}


}
}