@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
    --cor12: #f19cc9;
}

@media screen and (min-width: 768px) and (max-width: 1250px){


#container-treino{

/*IMAGE TREINO*/


#image-treino{
    height: 90vh;
}


/*SECTION TREINO 2*/


#indicacao-container-treino{
    width: 90%;
}

.cards-treino{
    padding: 20px;
    width: 90%;
    transition: none;
}
.cards-treino:hover{
    transform: none;
}

.img-cards-treino-container{
    height: 30vh;
    width: 25%;
}

.arguments-cards-treino{
    height: 35vh;
    width: 70%;
}

#treino-button{
    height: 70px;
    width: 40vw;
    transition: none;
}
#treino-button:hover{
    transform: none;
}


/*SECTION 4*/


.div-4-container-treino{
    width: 80%;
}


/*SECTION GARANTIA*/


#section-treino-garantia{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 40px 0px 40px 0px;
     width: 100%;
     background-color: black;
 
     & .img-treino-garantia{
         height: 30vh;
         width: 30vw;
     }
 }


}


}