@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: #ff5e5e;
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
}


.treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-treino mark{
    background-color: red;
    color: white;
}

#container-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
    width: 100%;
    background-color: black;


.h1-treino{
    color: red;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

#section-container-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0px 70px 0px;
    width: 80%;

    & img{
        height: 30vh;
        width: 15vw;    
    }
}

.p-container-treino{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}


/*IMAGE TREINO*/


#image-treino{
    height: 80vh;
    width: 100%;
    background-image: url(/imagens/treino/mulher-treino-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

#container-image-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.641);

    & img{
        height: 30vh;
        width: 15vw;    
    }
}

.h1-image-treino{
    color: red;
    font-size: 90px;
    text-align: center;
    margin: 0px;
}


/*SECTION TREINO 2*/


#section-indicacao-container-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
}

#indicacao-container-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;    
}

#indicacao-container-color-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 40px 0px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.641);
}

.cards-treino{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 75%;
    border-radius: 20px;
    margin-top: 80px;
    transition: transform 0.3s ease;
}
.cards-treino:hover{
    transform: scale(1.05);
}

.img-cards-treino-container{
    height: 30vh;
    width: 25%;
    border-radius: 20px;

    & .img-cards-treino{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}

.arguments-cards-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 70%;
    border-radius: 20px;
    background-color: white;    
}

.h3-treino-cards{
    color: red;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

.p-cards-treino{
    font-size: 20px;
    color: black;
    text-align: center;
    width: 90%;
}

a{
    margin: 5% 0px 5% 0px;
}

#treino-button{
    height: 70px;
    width: 25vw;
    margin: 5% 0px 5% 0px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor05);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#treino-button:hover{
    transform: scale(1.05);
}


/*SECTION 4*/


#section-treino-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 100%;
    background-image: url(/imagens/treino/mulher-treino-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#div-4-color-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.641);
}

.div-4-container-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 60%;
}

#h1-section-4-treino{
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

#ul-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    padding: 10px 0px 10px 0px;
    width: 70%;
    list-style: none;
}

#li-treino{
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
}


/*SECTION GARANTIA*/


#section-treino-garantia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 120px 0px;
    width: 100%;
    background-color: black;

    & .img-treino-garantia{
        height: 40vh;
        width: 30vw;
    }
}
}