@charset "UTF-8";

.treino{
    display: block;
}

#container-treino mark{
    background-color: red;
    color: white;
}

#container-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-color: black;
}

.h1-treino{
    color: red;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

#section-container-treino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0px 70px 0px;
    width: 80%;

    & img{
        height: 30vh;
        width: 15vw;    
    }
}

.p-container-treino{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}


/*IMAGE TREINO*/


#image-treino{
    height: 80vh;
    width: 100%;
    background-image: url(/imagens/treino/mulher-treino-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

#container-image-treino{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.641);
}

.h1-image-treino{
    color: red;
    font-size: 90px;
    text-align: center;
    margin: 0px;
}


/*INDICAÇÃO*/


#section-indicacao-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-color: black;
}

#indicacao-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border: 3px solid white;
    border-radius: 30px;
    background-image: url(../../imagens/treino/equipamentos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#indicacao-container-color{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 40px 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.641);
}

.cards-treino{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 75%;
    border-radius: 20px;
    margin-top: 80px;
}

.img-cards-treino-container{
    height: 30vh;
    width: 25%;
    border-radius: 20px;

    & .img-cards-treino{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}

.arguments-cards-treino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 60%;
    border-radius: 20px;
    background-color: white;    
}

.h3-treino-cards{
    color: red;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

.p-cards-treino{
    font-size: 20px;
    color: black;
    text-align: center;
    width: 90%;
}