@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}

@media screen and (min-width: 768px) and (max-width: 1250px){



.container-pai-home{
display: flex;
flex-direction: column;
width: 100%;

/*HEADER*/


#imagem-header-container-home{
    background-image: url(../imagens/mulher-correndo-3.jpg);
}

div#imagem-header-home{
    height: 140vh;
    width: 100%;
    background-color: #0000005f;
}

.h1-titles-header-home{
    font-size: 20px;
}
.h1-titles-header-home:hover{
    transition: none;
}

/*CONTEÚDO 1 HEADER*/



.h1-conteudos-home{
    font-size: 43px;
    transition: none;
}
.h1-conteudos-home:hover{
    transform: none;
}

#btt-conteudo-1-home{
    transition: none;
    margin-right: 20%;
}
#btt-conteudo-1-home:hover{
    transform: none;
}

/*CONTEÚDO 2 HEADER*/


#conteudo-container-2-home{
    height: 60vh;
}

.p-conteudo-2-home{
    font-size: 30px;
    transition: none;
}
.p-conteudo-2-home:hover{
    transform: none;
}


/*SESSÃO MISSÃO 1*/

.h1-mission-home{
    font-size: 40px;
}

.p-mission-home{
    font-size: 23px;
}    


/*SESSÃO MISSÃO 2*/


#h1-mission-2{
    font-size: 45px;
}

#p-mission-2{
    font-size: 30px;
}


/*SESSÃO PRODUTOS ABAIXO*/


.p-prodAbaixo-home{
    font-size: 35px;
}


/*SESSÃO APRESENTAÇÃO PRODUTOS 4*/


#h1-desc-lift-home{
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}

.li-lift-home{
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;
}


/*SECANDO*/

#desc-secandoCasa-home{
    justify-content: center;
}

.container-desc-home{
    margin-bottom: 30px;
}

#h1-secandoCasa-home{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

#h2-secandoCasa-home{
    display: none;
}

#p-secandoCasa-home{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}


/*TREINO*/

#desc-treino-home{
    justify-content: center;
}

#h1-desc-treino-home{
    font-size: 25px;
    margin-bottom: 0px;
}

.li-treino-home{
    margin-bottom: 5px;
    font-size: 16px;
}


/*SESSÃO ARGUMENTOS 5*/


#container-cards-arg5-home{
    flex-direction: column;
}

.cards-arg-5-home{
    height: 70vh;
    width: 70vw;
    margin-bottom: 20px;
    transition: none;
}
.cards-arg-5-home:hover{
    transform: none;
}



}    
}