@charset "UTF-8";

:root{
    --cor01: #FCF9ED;
    --cor02: #193722;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
}


/*CONFIGS GERAIS*/


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

mark{
    background-color: black;
    border-radius: 10px;
    color: var(--cor01);
    padding: 3px;
}


/*COMEÇO DA PÁGINA*/


#container-pai{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#imagem-header-container{
    background-image: url(./imagens/mulher-correndo-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#imagem-header{
    height: 120vh;
    width: 100%;
    background-color: rgba(0, 53, 88, 0.429);
}


/*HEADER*/


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

#titles-header-1{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

#titles-header-2{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px; 
    justify-content: space-around;
    align-items: center;
}

.h1-titles-header{
    font-size: 21px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.h1-titles-header:hover{
    border: 4px solid white;
    color: var(--cor01);
    border-radius: 30px;
    padding: 15px;
    transition: 0.5s ease, transform 0.5s ease;
}

h1#titulo{
    color: var(--cor01);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 57px;
    margin: 0;
    text-decoration: overline;
}


/*CONTEÚDO 1*/


div#conteudo-container-1{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 30vh;
    width: 100%;
}

.conteudo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    margin-right: 60px; 
}

.h1-conteudos{
    text-align: center;
    font-size: 53px;
    color: var(--cor01);
    font-style: oblique;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.h1-conteudos:hover{
    transform: scale(1.03);
}

div#container-button-1{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}

#btt-conteudo-1{
    height: 100%;
    width: 210px;
    margin-right: 300px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    border: none;
    color: white;
    background-color: #287FB6;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btt-conteudo-1:hover{
    background-color: rgb(73, 157, 209);
    transform: scale(1.05);
}


/*CONTEÚDO 2*/


div#conteudo-container-2{
    display: flex;
    justify-content: flex-end;
    height: 35vh;
    width: 100%;
    margin-top: 20px;
}

.conteudo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vw;
    margin-right: 5px;
}

.p-conteudo-2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--cor01);
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.p-conteudo-2:hover{
    transform: scale(1.03);
}


/*SECTION PRODUTOS*/


section#sessao-produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    background-color: var(--cor01);

    & #chá{
        height: 80%;
        width: 17%;
        background-image: url(../imagens/cha.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    & #produto-digital{
        height: 80%;
        width: 17%;
        background-image: url(../imagens/peso.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    & #lift-detox{
        height: 80%;
        width: 17%;
        background-image: url(../imagens/secando.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


/*SECTION*/


section#sessao-conteudo-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor01);
}

div.container-sessao-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90%;
    margin-top: 30px;
    border-bottom: 3px solid black;
}

.h1-sessao-1{
    text-align: center;
    font-size: 38px;
    color: black;
    font-style: oblique;
    margin: 0;
}

.p-sessao-1{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

div#container-iframe-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 50px;
}

div#iframe-1{
    height: 100%;
    width: 50vw;
    border-radius: 20px;
}

iframe#iframe-1{
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
    transition: transform 0.3s ease;
}
#iframe-1:hover{
    transform: scale(1.05);
}

.container-button-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btt-section-1{
    height: 65px;
    width: 300px;
    font-size: 21px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgb(255, 94, 94);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btt-section-1:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}


/*SESSÃO 2 - ARGUMENTOS 1 - CARDS*/


section#container-argumentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../imagens/pilulas2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.h1-argumentos{
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#argumentos-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 95%;
    background-color: rgba(0, 53, 88, 0.823);
    border-radius: 30px;
    padding: 5px;
    border: 3px solid white;
}

div.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 21vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.095);
}

div.imagem{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-image: url(../imagens/emagrecimento.jpg);
    background-position: center center;
    background-size: cover;
}

h2.h2-cards{
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 15px 0px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.p-cards{
    text-align: center;
    font-size: 19px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 15px 0px 0px 0px;
}


/*SESSÃO 3 - ARGUMENTOS 2: - PRODUTO*/


section#container-argumentos-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    width: 100%;
    background-color: var(--cor01);
}

div#container-produto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

div#descrição-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 35%;
    background-color: #005f72;
    border-radius: 40px 0px 0px 40px;
    cursor: pointer;
    border: 3px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li{
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    list-style-type: none;
    color: white;
}

div#imagem-produto{
    height: 70vh;
    width: 35%;
    background-image: url(../imagens/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px 40px 40px 0px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


/*SESSÃO 4 - ARGUMENTOS 2 - CARDS 2*/


section#container-argumentos-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../imagens/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#div-container-argumentos-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 53, 88, 0.823);
}

h1#h1-argumentos-4{
    color: white;
    font-size: 50px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2#h2-argumentos-4{
    color: white;
    font-size: 35px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#argumentos-cards-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 40vh;
    width: 90%;
    border-radius: 30px;
    margin-top: 50px;
    padding: 5px;
}

div.cards-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards-2:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.205);
}

div.imagem-2{
    height: 100px;
    width: 100px;
    background-image: url(../imagens/mulher-praia.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}

p.p-cards-2{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
}


/*SESSÃO 4 - RESULTADOS*/


div#div-resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    width: 100%;
    background-color: var(--cor01);
}

h1#h1-resultados{
    color: black;
    font-size: 50px;
    margin: 0px 0px 30px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#iframes-resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    width: 80%; 
}

iframe.iframe-2{
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 20px;
    border: 3px solid black;
}
.iframe-2:hover{
    transform: scale(1.05);
}


/*SESSÃO 5 - COMPRAS*/


section#container-compras-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../imagens/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#container-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgba(0, 53, 88, 0.823);
}

h1.h1-compras{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0px 0px 30px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#video-iframe-compras{
    height: 280px;
    width: 500px;
    border-radius: 20px;
    border: 3px solid white;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}
#video-iframe-compras:hover{
    transition: transform 0.3s ease;

}

h2#h2-compras{
    color: white;
    font-size: 33px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#container-cards-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 85%;
    padding: 5px;
}

div.cards-compras{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-compras:hover{
    transform: scale(1.05);
}

.img-div-compras{
    height: 85%;
    width: 95%;
    border: 3px solid white;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.video-compras{
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.video-compras:hover{
    transition: transform 0.3s ease;
}

.btt-compras{
    height: 45px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btt-compras:hover{
    background-color: rgb(255, 94, 94);
    transform: scale(1.05);
}


/*SESSÃO 6 - FOOTER*/


section#container-footer-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 30px 0px;
    background-color: var(--cor01);
}

#h1-footer{
    font-size: 45px;
    margin-bottom: 20px;
}

#h2-footer{
    font-size: 32px;
}

#div-footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
}

.div-cards-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vw;
    padding: 10px;
    transition: transform 0.3s ease;
}
.div-cards-footer:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

.h1-cards-footer{
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.h2-cards-footer{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.p-cards-footer{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#div-argumentos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60vh;
    width: 90%;
    margin-top: 40px;
}

#argumentos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

#h1-argumentos-footer{
    font-size: 42px;
    margin: 0px 0px 20px 0px;
    color: #193722;
}

#h2-argumentos-footer{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #193722;
}

#p-argumentos-footer{
    font-size: 19px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#imagem-argumentos-footer{
    height: 100%;
    width: 35%;
    background-image: url(../imagens/valores.jpg);
    background-size: contain;
    background-position: center center;
}