@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}

@media screen and (max-width: 767px){

#container-pai-painel{

    #header-painel{
        height: 25vh;
    }    
    
    #h1-title-painel{
        font-size: 40px;
        text-align: center;
    }
    
    #container-filho-painel{
        flex-direction: column;
        width: 90%;
        padding: 40px 0px;
    }
    
    .cards-dados-painel{
        height: 50vh;
        width: 80%;
        margin: 20px 0px;
        transition: none;
    }
    .cards-dados-painel:hover{
        transform: none;
    }
                
    .p-cards-painel{
        font-size: 40px;
    }
    
}
    
}