@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}


/*CONFIGS GERAIS*/


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
}


.container-pai-home mark{
    background-color: var(--cor10);
    border-radius: 10px;
    color: var(--cor01);
    padding: 3px;
}


/*COMEÇO DA PÁGINA*/


.container-pai-home{
    display: flex;
    flex-direction: column;
    width: 100%;


/*HEADER*/


#imagem-header-container-home{
    background-image: url(../imagens/mulher-correndo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#imagem-header-home{
    height: 120vh;
    width: 100%;
    background-color: #1d495431;
}

#header-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

h1#titulo-home{
    color: var(--cor01);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 57px;
    margin: 0;
    text-decoration: overline;
}

.h1-titles-header-home{
    font-size: 21px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.h1-titles-header-home:hover{
    border: 4px solid white;
    color: var(--cor01);
    border-radius: 30px;
    padding: 15px;
    transition: 0.5s ease, transform 0.5s ease;
}

/*CONTEÚDO 1 HEADER*/


div#conteudo-container-1-home{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 30vh;
    width: 100%;
}

.conteudo-1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    margin-right: 60px; 
}

.h1-conteudos-home{
    text-align: center;
    font-size: 53px;
    color: var(--cor01);
    font-style: oblique;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.h1-conteudos-home:hover{
    transform: scale(1.03);
}

#container-button-1-home{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}

#btt-conteudo-1-home{
    height: 100%;
    width: 190px;
    margin-right: 300px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    border: 3px solid white;
    color: white;
    background-color: #2880b600;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btt-conteudo-1-home:hover{
    transform: scale(1.05);
}


/*CONTEÚDO 2 HEADER*/


#conteudo-container-2-home{
    display: flex;
    justify-content: flex-end;
    height: 35vh;
    width: 100%;
    margin-top: 20px;
}

.conteudo-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vw;
    margin-right: 5px;
}

.p-conteudo-2-home{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--cor01);
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.p-conteudo-2-home:hover{
    transform: scale(1.03);
}


/*SESSÃO MISSÃO 1*/


.section-mission-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh 0px 10vh 0px;
    width: 100%;
    background-image: url(../imagens/nuvens.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-mission-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 10vh 0px 10vh 0px;
}

.mission-text-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 53, 88, 0.369);
}

.text-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    height: 80%;
    width: 80%;
}

.h1-mission-home{
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    text-align: center;
}

.p-mission-home{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}    

.mission-video-home{
    height: 65vh;
    width: 40%;
    overflow: hidden; /* Oculta partes do vídeo que saem da div */
    position: relative; /* Necessário para posicionamento do vídeo */
    border-radius: 0px 20px 20px 0px;      
}

.video-section-mission-home{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção do vídeo enquanto ocupa todo o espaço */
}

.mission-text-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20px 0px 20px 0px;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 53, 88, 0.369);
}

.text-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
}


/*SESSÃO MISSÃO 2*/


#section-mission-home-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    background-color: var(--cor07);
}

#h1-mission-2{
    font-size: 50px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

.mark-mission-2{
    color: var(--cor07);
    background-color: var(--cor11);
}

#p-mission-2{
    font-size: 40px;
    color: var(--cor01);
    font-weight: bold;
    text-align: center;
    width: 90%;
}


/*SESSÃO PRODUTOS ABAIXO*/


.sessao-prodAbaixo-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-color: var(--cor01);
}

.p-prodAbaixo-home{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#img-seta-home{
    height: 50px;
}


/*SESSÃO APRESENTAÇÃO PRODUTOS 4*/


#product-presentation-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250vh;
    width: 100%;
    background-color: var(--cor01);
}

#container-lift-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden; /* Para esconder o conteúdo que sair da div */
}

#img-lift-home{
    height: 100%;
    width: 50%;
    background-color: var(--cor02);
    background-image: url(../imagens/lift/Lift-Caps.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
}

#background-lift-home{
    height: 100%;
    width: 50%;
}

#desc-lift-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--cor01);
    border-radius: 0px 20px 20px 0px;
}

.ul-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    margin: 0px;
    list-style: none;
}

#h1-desc-lift-home{
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 40px 0px;
    color: #09af00;

    & #mark-lift{
        background-color: #09af00;
    }
}

.li-lift-home{
    margin-bottom: 5px;
    font-size: 28px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.button-products-home{
    height: 45px;
    width: 120px;
    margin-top: 0px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: var(--cor05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.button-products-home:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}

.transformed-lift-home{
    transform: translateX(-100%);        
}


/*SECANDO*/


#container-secandoCasa-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden; /* Para esconder o conteúdo que sair da div */
}

#img-secandoCasa-home{
    height: 100%;
    width: 50%;
    background-image: url(../imagens/secando/secandoEmCasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
}

#background-secando-home{
    height: 100%;
    width: 50%;
}

#desc-secandoCasa-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--cor01);
}

.container-desc-home{
    width: 90%;
}

#h1-secandoCasa-home{
    color: var(--cor05);
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 20px 0px;

    .mark-secando{
        background-color: var(--cor05);
    }
}

#h2-secandoCasa-home{
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

#p-secandoCasa-home{
    font-size: 23px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.transformed-secandoCasa-home{
    transform: translateX(100%);        
}


/*TREINO*/


#container-treino-product-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden;
}

#img-treino-home{
    height: 100%;
    width: 50%;
    background-image: url(../imagens/mulher-treino.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
}

#background-treino-home{
    height: 100%;
    width: 50%;
}

#desc-treino-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--cor01);            
}

#h1-desc-treino-home{
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    color: var(--cor05);

    & #mark-treino{
        background-color: var(--cor09);
    }
}
 
.ul-treino-home{
    width: 90%;
    padding: 0%;
    margin: 0px;
    list-style: none;
}

.li-treino-home{
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.transformed-treino-home{
    transform: translateX(-100%);
}


/*SESSÃO ARGUMENTOS 5*/


#sessao-argumentos-5-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor07);
    padding: 60px 0px 60px 0px;
    width: 100%;
}

.h1-arg-5-home{
    color: var(--cor01);
    font-size: 50px;
    margin-bottom: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.p-arg-5-home{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--cor01);
}

#container-cards-arg5-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-bottom: 40px;
}

.cards-arg-5-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 22vw;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-arg-5-home:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.161);
}

.imagem-cards-arg-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: var(--cor11);
    border-radius: 100px;         
}

.img-cards-arg-2-home{
    height: 80%;
    width: 80%;
    background-size: auto;
    background-position: center;
}

.h1-cards-arg-2-home{
    font-size: 35px;
    text-align: center;
    margin: 25px 0px 5px 0px;
}

.p-cards-arg-2-home{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.button-arg5-home{
    height: 70px;
    width: 250px;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--cor11);
    transition: transform 0.3s ease;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.button-arg5-home:hover{
    transform: scale(1.05);
}

/*PARTIALS*/

#carregaLift-Partial{
    width: 100%;
}

#carregaSecando-Partial{
    width: 100%;
}

#carregaTreino-Partial{
    width: 100%;
}
}