@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}


/*CONFIGS GERAIS*/


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
}


mark{
    background-color: var(--cor10);
    border-radius: 10px;
    color: var(--cor01);
    padding: 3px;
}


/*COMEÇO DA PÁGINA*/


#container-pai{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#imagem-header-container{
    background-image: url(../imagens/mulher-correndo-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#imagem-header{
    height: 120vh;
    width: 100%;
    background-color: #1d49546f;
}


/*HEADER*/


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

#titles-header-1{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

#titles-header-2{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px; 
    justify-content: space-around;
    align-items: center;
}

.h1-titles-header{
    font-size: 21px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.h1-titles-header:hover{
    border: 4px solid white;
    color: var(--cor01);
    border-radius: 30px;
    padding: 15px;
    transition: 0.5s ease, transform 0.5s ease;
}

h1#titulo{
    color: var(--cor01);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 57px;
    margin: 0;
    text-decoration: overline;
}


/*CONTEÚDO 1*/


div#conteudo-container-1{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 30vh;
    width: 100%;
}

.conteudo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    margin-right: 60px; 
}

.h1-conteudos{
    text-align: center;
    font-size: 53px;
    color: var(--cor01);
    font-style: oblique;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.h1-conteudos:hover{
    transform: scale(1.03);
}

div#container-button-1{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}

#btt-conteudo-1{
    height: 100%;
    width: 190px;
    margin-right: 300px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    border: 3px solid white;
    color: white;
    background-color: #2880b600;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btt-conteudo-1:hover{
    transform: scale(1.05);
}


/*CONTEÚDO 2*/


div#conteudo-container-2{
    display: flex;
    justify-content: flex-end;
    height: 35vh;
    width: 100%;
    margin-top: 20px;
}

.conteudo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vw;
    margin-right: 5px;
}

.p-conteudo-2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--cor01);
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.p-conteudo-2:hover{
    transform: scale(1.03);
}


/*SECTION PRODUTOS*/


section.sessao-imagens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    background-color: var(--cor01);
}

#img-1{
    height: 80%;
    width: 17%;
    background-image: url(../imagens/fita-metrica.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img-2{
    height: 80%;
    width: 17%;
    background-image: url(../imagens/cesta.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#img-3{
    height: 80%;
    width: 17%;
    background-image: url(../imagens/secando.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/*SECTION OUR MISSION*/


.section-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh 0px 10vh 0px;
    width: 100%;
    background-image: url(../imagens/nuvens.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-mission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 10vh 0px 10vh 0px;
}

.mission-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 53, 88, 0.369);
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    height: 80%;
    width: 80%;
}

.h1-mission{
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    text-align: center;
}

.p-mission{
    font-size: 27px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}    

.mission-video{
    height: 65vh;
    width: 40%;
    overflow: hidden; /* Oculta partes do vídeo que saem da div */
    position: relative; /* Necessário para posicionamento do vídeo */
    border-radius: 0px 20px 20px 0px;      
}

.video-section-mission{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção do vídeo enquanto ocupa todo o espaço */
}

.mission-text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20px 0px 20px 0px;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 53, 88, 0.369);
    border: 3px solid var(--cor10);
}

.text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
}


/*SESSÃO PRODUTOS ABAIXO*/
.sessao-prodAbaixo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    width: 100%;
    background-color: var(--cor01);
}

.p-prodAbaixo{
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#img-seta{
    height: 50px;
}

/*SESSÃO APRESENTAÇÃO PRODUTOS*/


#product-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250vh;
    width: 100%;
    background-color: var(--cor01);
}

#container-lift{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden; /* Para esconder o conteúdo que sair da div */
}

#img-lift{
    height: 100%;
    width: 50%;
    background-color: var(--cor02);
    background-image: url(../imagens/lift/Lift-Caps.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
}

#desc-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: var(--cor01);
    border-radius: 0px 20px 20px 0px;
}

ul{
    width: 90%;
    padding: 0%;
    margin-bottom: 0px;
}

#h1-desc-lift{
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3px;
    color: var(--cor05);
}

.li-lift{
    margin: 8px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    color: black;
}

.button-products{
    height: 45px;
    width: 120px;
    margin-top: 8px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: var(--cor05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.button-products:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}

.transformed-lift{
    transform: translateX(-100%);        
}

/*SECANDO*/

#container-secandoCasa{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden; /* Para esconder o conteúdo que sair da div */
}

#img-secandoCasa{
    height: 100%;
    width: 50%;
    background-image: url(../imagens/secando/secandoEmCasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
}

#desc-secandoCasa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: var(--cor01);
}

.container-desc{
    width: 90%;
}

#h1-secandoCasa{
    color: var(--cor05);
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

#h2-secandoCasa{
    font-size: 28px;
    text-align: center;
}

#p-secandoCasa{
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.transformed-secandoCasa{
    transform: translateX(100%);        
}

/*PRODUTO DIGITAL*/

#container-produtoDigital{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65vh;
    width: 90%;
    border-radius: 20px;
    background-color: var(--cor01);
    position: relative;
    overflow: hidden;
}

#img-produtoDigital{
    height: 100%;
    width: 50%;
    background-image: url(../imagens/mulher-treino.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; /* Sobrepõe a `desc-lift` */
    transition: transform 1s ease; /* Animação suave ao mover */
    cursor: pointer;
}

#desc-produtoDigital{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: var(--cor01);            
}

.transformed-produtoDigital{
    transform: translateX(-100%);
}


/*SESSÃO ARGUMENTOS 5*/


#sessao-argumentos-5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor10);
    padding: 60px 0px 60px 0px;
    width: 100%;
}

.h1-arg-5{
    color: var(--cor01);
    font-size: 45px;
    margin-bottom: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p-arg-5{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#container-cards-arg5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-bottom: 40px;
}

.cards-arg-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 20vw;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-arg-5:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.161);
}

#container-pai .imagem-cards-arg-2{
    height: 150px;
    width: 150px;
    background-color: var(--cor11);
    border-radius: 100px;         
}

.img-cards-arg-2{
    height: 100%;
    width: 100%;    
    background-size: auto;
    background-position: center;
    border-radius: 100px;    
}