@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}

@media screen and (max-width: 767px){

.container-pai-home{
    display: flex;
    flex-direction: column;
    width: 100%;

/*HEADER*/


#imagem-header-container-home{
    background-image: url(../imagens/saude-abstrato.jpg);
}

div#imagem-header-home{
    height: 140vh;
    background-color: #00000093;
}

#header-home{
    height: 20vh;
}

h1#titulo-home{
    font-size: 55px;
}


/*CONTEÚDO 1 HEADER*/


div#conteudo-container-1-home{
    margin-top: 0px;
    height: 25vh;
}

.conteudo-1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin-right: 0px; 
}

.h1-conteudos-home{
    text-align: center;
    font-size: 40px;
    margin: 0px;
    transition: none;
}
.h1-conteudos-home:hover{
    transform: none;
}

#container-button-1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    margin: 5vh 0px 5vh 0px;
}

#btt-conteudo-1-home{
    margin-right: 0px;
    font-size: 25px;
    cursor: pointer;
    transition: none;
}
#btt-conteudo-1-home:hover{
    transform: none;
}


/*CONTEÚDO 2 HEADER*/


#conteudo-container-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 0px;
}

.conteudo-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.p-conteudo-2-home{
    font-size: 32px;
    color: var(--cor01);
    margin: 0px;
    transition: none;
}
.p-conteudo-2-home:hover{
    transform: none;
}


/*SESSÃO MISSÃO 1*/


.section-mission-home{
    justify-content: space-around;
    padding: 10vh 0px 10vh 0px;
}

.container-mission-home{
    flex-direction: column;
    height: 110vh;
    margin: 5vh 0px 5vh 0px;
}

.mission-text-home{
    width: 90%;
    border-radius: 20px 20px 0px 0px;
}

.text-home{
    justify-content: space-around;
    height: 100%;
    width: 90%;
}

.h1-mission-home{
    font-size: 40px;
    margin-bottom: 8px;
}

.p-mission-home{
    font-size: 25px;
}    

.mission-video-home{
    height: 75vh;
    width: 90%;
    border-radius: 0px 0px 20px 20px;
}

.mission-text-2-home{
    width: 80%;
}


/*SESSÃO MISSÃO 2*/

#h1-mission-2{
    font-size: 45px;
    letter-spacing: 0px;
}

.mark-mission-2{
    color: var(--cor11);
    background-color: var(--cor07);
}

#p-mission-2{
    font-size: 30px;
    width: 100%;
}


/*SESSÃO PRODUTOS ABAIXO*/

.sessao-prodAbaixo-home{
    display: none;
}

.p-prodAbaixo-home{
    font-size: 40px;
}


/*SESSÃO APRESENTAÇÃO PRODUTOS 4*/


#product-presentation-home{
    height: 320vh;
}

#container-lift-home{
    height: 85vh;
    border: none;
}

#img-lift-home{
    display: none;
}

#background-lift-home{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/lift/Lift-Caps.png);
}

#desc-lift-home{
    width: 100%;
    background-color: #172313c0;
}

.ul-home{
    width: 100%;
    padding: 0px;
}

.li-lift-home{
    font-size: 28px;
    margin: 0px;
    color: white;
}

.button-products-home{
    transition: none;
}
.button-products-home:hover{
    transform: none;
}

.transformed-lift-home{
    transform: none;        
}


/*SECANDO*/


#container-secandoCasa-home{
    height: 105vh;
    border: none;
}

#img-secandoCasa-home{
    display: none;
}

#background-secando-home{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/secando/secandoEmCasa.jpg);
}

#desc-secandoCasa-home{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.488);
}

.container-desc-home{
    width: 90%;
}

.transformed-secandoCasa-home{
    transform: none;        
}

#h2-secandoCasa-home{
    color: white;
}

#p-secandoCasa-home{
    font-size: 23px;
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
}



/*TREINO*/


#container-treino-product-home{
    height: 105vh;
    background-color: var(--cor01);
    border: 2px solid black;
}

#img-treino-home{
    display: none;
}

#background-treino-home{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/mulher-treino.jpg);
    background-size: cover;
    background-position: center;
}

#desc-treino-home{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.488);
}

.li-treino-home{
    color: white;
}

.transformed-treino-home{
    transform: none;
}


/*SESSÃO ARGUMENTOS 5*/


.h1-arg-5-home{
    text-align: center;
}

.p-arg-5-home{
    font-size: 30px;
    text-align: center;
    margin: 70px 0px 0px 0px;
}

#container-cards-arg5-home{
    flex-direction: column;
}

.cards-arg-5-home{
    width: 90vw;
    margin-top: 40px;
}
.cards-arg-5-home:hover{
    transform: none;
}

.p-cards-arg-2-home{
    font-size: 25px;
}


}
}