@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}

@media screen and (max-width: 767px){

.container-pai-home{
    display: flex;
    flex-direction: column;
    width: 100%;

/*HEADER*/


#imagem-header-container-home{
    background-image: url(../imagens/mulher-correndo.jpg);
}

div#imagem-header-home{
    height: 140vh;
    background-color: #00000065;
}

#header-home{
    height: 20vh;
}

h1#titulo-home{
    font-size: 55px;
}


/*CONTEÚDO 1 HEADER*/


div#conteudo-container-1-home{
    margin-top: 0px;
    height: 25vh;
}

.conteudo-1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin-right: 0px; 
}

.h1-conteudos-home{
    text-align: center;
    font-size: 40px;
    margin: 0px;
    transition: none;
}
.h1-conteudos-home:hover{
    transform: none;
}

#container-button-1-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    margin: 5vh 0px 5vh 0px;
}

#btt-conteudo-1-home{
    margin-right: 0px;
    font-size: 25px;
    cursor: none;
    transition: none;
}
#btt-conteudo-1-home:hover{
    transform: none;
}


/*CONTEÚDO 2 HEADER*/


#conteudo-container-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 0px;
}

.conteudo-2-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.p-conteudo-2-home{
    font-size: 32px;
    color: var(--cor01);
    margin: 0px;
    transition: none;
}
.p-conteudo-2-home:hover{
    transform: none;
}


/*SESSÃO MISSÃO 1*/


.section-mission-home{
    justify-content: space-around;
    padding: 10vh 0px 10vh 0px;
}

.container-mission-home{
    flex-direction: column;
    height: 90vh;
    margin: 5vh 0px 5vh 0px;
}

.mission-text-home{
    width: 90%;
    border-radius: 20px 20px 0px 0px;
}

.text-home{
    justify-content: space-around;
    height: 100%;
    width: 90%;
}

.h1-mission-home{
    font-size: 40px;
    margin-bottom: 8px;
}

.p-mission-home{
    font-size: 25px;
}    

.mission-video-home{
    width: 90%;
    border-radius: 0px 0px 20px 20px;
}

/**/

.mission-text-2-home{
    width: 80%;
}



}
}