@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: #ff5e5e;
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
}

/*SECTION*/

#liftDetox-container-lift mark{
    background-color: var(--cor06);
    color: white;
    padding: 3px;
}

#liftDetox-container-lift{

section#sessao-conteudo-1-lift{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor01);
}

div.container-sessao-1-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90%;
    margin-top: 30px;
    border-bottom: 3px solid black;
}

.h1-sessao-1-lift{
    text-align: center;
    font-size: 38px;
    color: black;
    font-style: oblique;
    margin: 0;
}

.p-sessao-1-lift{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

div#container-iframe-1-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 50px;
}

div#iframe-1-lift{
    height: 100%;
    width: 50vw;
    border-radius: 20px;
}

iframe#iframe-1-lift{
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
    transition: transform 0.3s ease;
}
#iframe-1-lift:hover{
    transform: scale(1.05);
}

.container-button-section-1-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btt-section-1-lift{
    height: 65px;
    width: 300px;
    font-size: 21px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgb(255, 94, 94);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btt-section-1-lift:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}


/*SESSÃO 2 - ARGUMENTOS 1 - CARDS*/


section#container-argumentos-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../imagens/lift/pilulas2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.h1-argumentos-lift{
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#argumentos-cards-lift{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    background-color: rgba(0, 53, 88, 0.823);
    border-radius: 30px;
    padding: 15px 0px 15px 0px;
    border: 3px solid white;
}

div.cards-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 21vw;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.cards-lift:hover{
    transform: scale(1.07);
    background-color: rgba(255, 255, 255, 0.095);
}

div.imagem-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: black;
}

.img-lift{
    height: 70%;
    width: 70%;
    border-radius: 100px;
}

h2.h2-cards-lift{
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 15px 0px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.p-cards-lift{
    text-align: center;
    font-size: 19px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 15px 0px 0px 0px;
}


/*SESSÃO 3 - ARGUMENTOS 2: - PRODUTO*/


section#container-argumentos-2-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    width: 100%;
    background-color: var(--cor01);
}

div#container-produto-lift{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

div#descrição-produto-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 35%;
    background-color: #005f72;
    border-radius: 40px 0px 0px 40px;
    cursor: pointer;
    border: 3px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#ul-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
}

#li-lift{
    font-size: 28px;
    font-weight: bold;
    list-style-type: none;
    color: white;
    margin: 10px 0px 10px 0px;
}

div#imagem-produto-lift{
    height: 70vh;
    width: 34%;
    background-image: url(../../imagens/lift/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px 40px 40px 0px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


/*SESSÃO 4 - RESULTADOS*/


div#div-resultados-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    width: 100%;
    background-color: var(--cor01);
}

h1#h1-resultados-lift{
    color: black;
    font-size: 50px;
    margin: 0px 0px 30px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#iframes-resultados-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    width: 80%; 
}

iframe.iframe-2-lift{
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 20px;
    border: 3px solid black;
}
.iframe-2-lift:hover{
    transform: scale(1.05);
}


/*SESSÃO 5 - COMPRAS*/


section#container-compras-5-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../imagens/lift/pilulas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#container-compras-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgba(0, 53, 88, 0.823);
}

h1.h1-compras-lift{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0px 0px 30px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-iframe-compras-lift{
    height: 280px;
    width: 500px;
    border-radius: 20px;
    border: 3px solid white;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}
.video-iframe-compras-lift:hover{
    transition: transform 0.3s ease;

}

h2#h2-compras-lift{
    color: white;
    font-size: 33px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div#container-cards-compras-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 95vh;
    width: 100%;
    padding: 5px;
}

div.cards-compras-lift{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 20vw;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards-compras-lift:hover{
    transform: scale(1.05);
}

.img-div-compras-lift{
    height: 85%;
    width: 95%;
    border: 3px solid white;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.video-compras-lift{
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.video-compras-lift:hover{
    transition: transform 0.3s ease;
}

.btt-compras-lift{
    height: 45px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btt-compras-lift:hover{
    background-color: rgb(255, 94, 94);
    transform: scale(1.05);
}


/*SESSÃO 6 - FOOTER*/


section#container-footer-6-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 30px 0px;
    background-color: var(--cor01);
}

#h1-footer-lift{
    font-size: 45px;
    margin-bottom: 20px;
}

#h2-footer-lift{
    font-size: 32px;
}

#div-footer-1-lift{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
}

.div-cards-footer-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vw;
    padding: 10px;
    transition: transform 0.3s ease;
}
.div-cards-footer-lift:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

.h1-cards-footer-lift{
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.h2-cards-footer-lift{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.p-cards-footer-lift{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#div-argumentos-footer-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60vh;
    width: 90%;
    margin-top: 40px;
}

#argumentos-footer-lift{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

#h1-argumentos-footer-lift{
    font-size: 42px;
    margin: 0px 0px 20px 0px;
    color: #193722;
}

#h2-argumentos-footer-lift{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #193722;
}

#p-argumentos-footer-lift{
    font-size: 19px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#imagem-argumentos-footer-lift{
    height: 100%;
    width: 35%;
    background-image: url(../../imagens/lift/valores.jpg);
    background-size: contain;
    background-position: center center;
}
}