@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
    --cor12: #f19cc9;
}

@media screen and (min-width: 768px) and (max-width: 1250px){


#liftDetox-container-lift{


div#iframe-1-lift{
    height: 100%;
    width: 60vw;
    border-radius: 20px;
}

iframe#iframe-1-lift{
    transition: none;
}
#iframe-1-lift:hover{
    transform: none;
}


/*SESSÃO 2 - ARGUMENTOS 1 - CARDS*/


div#argumentos-cards-lift{
    width: 95%;
}
 
 div.cards-lift{
    width: 21vw;
     transition: none;
 }
 div.cards-lift:hover{
     transform: none;
     background-color: rgba(255, 255, 255, 0);
 }
 
 div.imagem-lift{
     height: 120px;
     width: 120px;
 }
 
 h2.h2-cards-lift{
     font-size: 28px;
 }
 
 p.p-cards-lift{
     font-size: 18px;
 }


/*SESSÃO 3 - ARGUMENTOS 2: - PRODUTO*/

 
 div#descrição-produto-lift{
     height: 65vh;
 }
 
 #li-lift{
     font-size: 23px;
     margin: 5px 0px 0px 0px;
 }
 
 div#imagem-produto-lift{
     height: 65vh;
     background-size: cover;
 }
 


/*SESSÃO 4 - RESULTADOS*/


div#div-resultados-lift{
     justify-content: flex-start;
     height: 230vh;
 }

 
 h1#h1-resultados-lift{
     text-align: center;
 }
  
 iframe.iframe-2-lift{
     transition: none;
 }
 .iframe-2-lift:hover{
     transform: none;
 }


/*SESSÃO 5 - COMPRAS*/

 
 h1.h1-compras-lift{
     text-align: center;
 }

div#container-cards-compras-lift{
    height: 95vh;
    width: 100%;
}

  
 div.cards-compras-lift{
     height: 70%;
     width: 25vw;
     margin: 0px 5px 0px 5px;
     transition: none;
 }
 .cards-compras-lift:hover{
     transform: none;
 }

 .btt-compras-lift{
    height: 45px;
    width: 150px;
    transition: none;
}
.btt-compras-lift:hover{
    transform: none;
}
 
 
/*SESSÃO 6 - FOOTER*/

 
 #h1-footer-lift{
     font-size: 45px;
     text-align: center;
 }
 
 #h2-footer-lift{
     font-size: 35px;
     width: 70%;
     text-align: center;
 }

  
 .div-cards-footer-lift{
     transition: none;
     height: 50vh;
 }
 .div-cards-footer-lift:hover{
     transform: none;
     background-color: rgba(0, 0, 0, 0);
     border-radius: 0px;
 }
 
 .h1-cards-footer-lift{
     font-size: 30px;
     text-align: center;
 }
 
 .h2-cards-footer-lift{
     font-size: 20px;
     text-align: center;
 }
 
 .p-cards-footer-lift{
     font-size: 20px;
 }
 
 #div-argumentos-footer-lift{
    height: 80vh;
}
 
 #h1-argumentos-footer-lift{
     text-align: center;
 }
  
 #imagem-argumentos-footer-lift{
     display: none;
 }
 
}


}