@charset "UTF-8";

:root{
    --cor01: #FBF3EB;
    --cor02: #172313;
    --cor03: #7aa789;
    --cor04: #d3efdc;
    --cor05: rgb(255, 94, 94);
    --cor06: #287FB6;
    --cor07: #003452;
    --cor08: #ea5f5f;
    --cor09: #410039;
    --cor10: #2D728F;
    --cor11: #EFF053;
}


/*CONFIGS GERAIS*/


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;    
    height: 100%;
    width: 100%;
}

#container-pai-login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0px;
    background-color: #212121;


#header-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    height: 20vh;
    width: 100%;
    margin-bottom: 3%;
}

#h1-title-login{
    font-size: 45px;
    color: white;
}

#container-filho-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 70vw;
    border-radius: 20px;
    border: 3px solid var(--cor01);
}

#container-login-1{
    height: 100%;
    width: 50%;
    background-color: #212121;
    background-image: url(../imagens/dados-png.png);
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

#form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #212121;
    border-radius: 0px 20px 20px 0px;
}

.label-login{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.input-login{
    height: 35px;
    width: 80%;
    margin-bottom: 40px;
    color: white;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid white;
    text-align: center;
    font-size: 20px;
}
.input-login:focus{
    outline: none;
}
.input-login:valid{
    background-color: transparent;
}

#btt-login{
    height: 45px;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    background-color: #131313;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid var(--cor01);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#btt-login:hover{
    transform: scale(1.05);
}

}